﻿<!DOCTYPE html SYSTEM "about:legacy-compat"><html xmlns:v-on="http://example.com/xml/v-on" xmlns:v-bind="http://example.com/xml/v-bind" xmlns:v-html="http://example.com/xml/v-html">
<head>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="source" content="MetaModelR (c) GJvR">
<meta name="spec" content="MetaDataManagement">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
	box-sizing: border-box;
	}
body {
	font-family: Arial;
	font-size: 1em;
	margin: 0;
	}
.header {
	font-size: 2.2em;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:12px;
	padding-right:12px;
	color: white;
	background-color:darkblue;
	}
.page{
	background-color:#ffffff;
	border-style:solid;
	border-width:1px;
	border-color:gray;
	box-shadow:5px 5px 5px lightgray;
	max-width:1200px;
	min-width:300px;
	margin-top:20px;
	margin-bottom:200px;
	margin-left:auto;
	margin-right:auto;
	padding-top:0px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	}
.footer {
  padding: 20px;
}
.concepts {
	margin-left:12px;
	margin-right:12px;
	}
.concept {
	}
.concepttitle {
	font-weight: bold;
	margin-top:12px;
	margin-bottom:0px;
	}
.conceptattributes {
	}
.attribute {
	margin-bottom:12px;
	}
.attributelabel {
	font-size: 0.8em;
	font-weight: bold;
	}
.attributevalue {
	margin-left:6px;
	}
ul,p {
	margin-top:0px;
	margin-bottom:0px;
	padding-top:0px;
	padding-bottom:0px;
	}
.mytable{
	font-size: 0.94em;
	vertical-align: text-top;
	padding:0px 3px 0px 3px;
}
tr {
	padding-top:12px;
	}
td {
	padding-top:0px;
	padding-bottom:0px;
	padding-left:5px;
	padding-right:5px;
	vertical-align: top;
	}
img {
	max-width: 100%;
	height: auto;
	}
pre {
	background-color: #FFFFCC;
	border: 1px dashed #BBBBBB;
	padding-top: 7px;
	padding-bottom: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 4px;
	margin: 10px;
	max-width: 1100px;
	min-width: 300px;
	max-height: 600px;
	overflow: auto;
}
	</style>
</head>
<body>
<div class="page">
<div class="header">Specificatie</div>
<div class="concepts"><div class="concept">
<h2>Koppelvlak Aanvraag levensonderhoud</h2>
<table>
<tr><td>Technisch modeltype:</td><td>JSON-schema</td></tr>
<tr><td>Gebaseerd op:</td><td>http://json-schema.org/draft-07/schema#</td></tr>
<tr><td>Status:</td><td>1 - Onder handen werk</td></tr>
<tr><td>Versie:</td><td>2</td></tr>
<tr><td>Publicatie:</td><td>09-09-2021</td></tr>
<tr><td>Startdefinitie:</td><td><a href="#definition_04CA3D91-F2F8-40F5-E0CB-28CCC9E693E4">Aanvraag</a></td></tr>
</table>
<h3>JSON-schema:</h3>
<pre id="jsonoutput"></pre><script>
				const myJSONobj = {"$schema": "http://json-schema.org/draft-07/schema#","definitions": {"Aanvraag": {"properties": {"AanvraagId": {"type": "string","pattern": "^(\\{{0,1}([0-9a-fA-F]){8}-([0-9a-fA-F]){4}-([0-9a-fA-F]){4}-([0-9a-fA-F]){4}-([0-9a-fA-F]){12}\\}{0,1})$","description": ""},"CodeOntvangendeGemeente": {"type": "string","description": "De code van de gemeente, die de aanvraag ontvangt en verwerkt."},"Aanvraagdatum": {"type": "string","description": "De datum waarop de aanvraag is ingediend.Doorgaans is dit de verzenddatum, echter, de aanvraag kan leiden tot een compleetheid- en juistheidtoets. Dit kan betekenen dat de aanvraag pas later wordt gecompleteerd. "},"SoortAanvraag": {"type": "string","enum": ["Melding","Aanvraag"],"description": "Soort aanvraag"},"Naam": {"type": "string","description": ""},"SoortUitbetaling": {"type": "string","enum": ["Klant","Partner","Gesplitst","Gemachtigde","Bewindvoerder"],"description": "De manier waarop de uitbetaling moet worden gedaan, hetzij aan de klant, zijn parter of gesplitst aan beide, hetzij aan een gemachtigde of een bewindvoerder."},"Aanvrager": {"type": "array","items": {"$ref": "#/definitions/Persoon"},"minItems": 1,"maxItems": 1,"uniqueItems": true},"Medeaanvrager": {"type": "array","items": {"$ref": "#/definitions/Persoon"},"minItems": 0,"maxItems": 1,"uniqueItems": true},"Kinderen": {"type": "array","items": {"$ref": "#/definitions/Kind"},"minItems": 0,"uniqueItems": true},"Medebewoners": {"type": "array","items": {"$ref": "#/definitions/Medebewoner"},"minItems": 0,"uniqueItems": true},"Zaak": {"type": "array","items": {"$ref": "#/definitions/Zaak"},"minItems": 0,"maxItems": 1},"": {"type": "array","items": {"$ref": "#/definitions/"}}},"additionalProperties": false,"required": ["CodeOntvangendeGemeente","Aanvraagdatum","SoortAanvraag","Naam","SoortUitbetaling"]},"Zaak": {"properties": {"Urls": {"type": "string","description": "URL-referentie naar dit object. Dit is de unieke identificatie en locatie van dit object."},"Uuids": {"type": "string","pattern": "^(\\{{0,1}([0-9a-fA-F]){8}-([0-9a-fA-F]){4}-([0-9a-fA-F]){4}-([0-9a-fA-F]){4}-([0-9a-fA-F]){12}\\}{0,1})$","description": "De unieke identificatie van de ZAAK binnen de organisatie die verantwoordelijk is voor de behandeling van de ZAAK."},"Identificatie": {"type": "string","description": "De unieke identificatie van de ZAAK binnen de organisatie die verantwoordelijk is voor de behandeling van de ZAAK."}},"additionalProperties": false,"required": []},"Persoon": {"properties": {"Burgerservicenummer": {"type": "string","pattern": "^[0-9]{9}$","description": "Een uniek identificerend nummer van een PERSOON, die ingeschreven staat in de Gemeentelijke Basisadministratie Persoonsgegevens (GBA) of de Registratie Niet-ingezetenen (RNI).Bron: SGROpmerking:Elk nummer moet voldoen aan de bij de voorwaarden beschreven proef.Voorwaarden waarde BSN:   Indien het nummer per cijfer wordt aangeduid als (s0 s1 s2 s3 s4 s5 s6 s7 s8), dan is de volgende voorwaarde te controleren: (9s0) + (8s1) + (7s2) + (6s3) + (5s4) + (4s5) + (3s6) + (2s7) - (1*s8) is deelbaar door 11Toelichting:1.   Het Burgerservicenummer onderscheidt zich van het Sofi-nummer voornamelijk voor wat betreft het bereik ervan en de wijze waarop wettelijk is vastgelegd wat met behulp van het Burgerservicenummer mag gebeuren.2.   De gebruikers van het Burgerservicenummer bestaan uit overheidsorganen alsmede niet-overheidsorganen. Omdat het niet duidelijk is wat de criteria zijn om niet-overheidsorganen wel of niet toe te laten tot het gebruik van het Burgerservicenummer is besloten om de gebruikersaspecten niet in de definitie op te nemen.De oorspronkelijke naamgeving en definitie van dit gegevenselement conform de (authentieke) bron:Elementnaam   :    BurgerservicenummerDefinitie    :    Elk ingeschreven persoon heeft een BSN, een nummer dat de persoon uniek identificeert in alle overheidsadministraties.Norminstantie   :    GBA"},"Geboortedatum": {"type": "string","description": "De datum van geboorte van een PERSOON.Bron: NEN 1888:2002 - Geboortedatum (overgenomen zoals in SGR)Opmerking:1. Deze datum staat gewoonlijk vermeld op de geboorteakte dan wel een ander brondocument.Een GEBOORTEDATUM behoort te worden vastgesteld in verband met zijn rechtsgeldige betekenis, in het bijzonder voor de instellingen die minimaal een SZ-WET uitvoeren."},"Contactgegevens": {"type": "array","items": {"$ref": "#/definitions/Contactgegevens"},"minItems": 0,"maxItems": 1},"Identiteitsbewijs": {"type": "array","items": {"$ref": "#/definitions/Identiteitsbewijs"},"minItems": 0,"uniqueItems": true},"Vreemdelingendocument": {"type": "array","items": {"$ref": "#/definitions/Vreemdelingendocument"},"minItems": 0},"Inkomsten": {"type": "array","items": {"$ref": "#/definitions/Inkomsten"},"minItems": 0,"uniqueItems": true},"Vermogenscomponenten": {"type": "array","items": {"$ref": "#/definitions/Vermogenscomponent"},"minItems": 0,"uniqueItems": true},"BeschikbaarheidWerk": {"type": "array","items": {"$ref": "#/definitions/BeschikbaarheidWerk"},"minItems": 0,"maxItems": 1},"Huisvesting": {"type": "array","items": {"$ref": "#/definitions/Huisvesting"},"minItems": 1,"maxItems": 1,"uniqueItems": true},"RedenenAanvraag": {"type": "array","items": {"$ref": "#/definitions/RedenAanvraag"},"minItems": 0},"Bewindvoering": {"type": "array","items": {"$ref": "#/definitions/Bewindvoerder"},"minItems": 0,"maxItems": 1},"Betaalgegevens": {"type": "array","items": {"$ref": "#/definitions/Betaalgegevens"},"minItems": 0,"maxItems": 1},"Correspondentieadres": {"type": "object","oneOf": [{"$ref": "#/definitions/Nederlandsstraatadres"},{"$ref": "#/definitions/NederlandsPostbusadres"},{"$ref": "#/definitions/Buitenlandsstraatadres"}]}},"additionalProperties": false,"required": ["Burgerservicenummer","Geboortedatum"]},"Contactgegevens": {"properties": {"TelefoonLandnummer": {"type": "integer","pattern": "^-?[0-9]{1,}$","description": "Het telefoon landnummer waaronder de PERSOON bereikbaar is.Norminstantie: ITU"},"Telefoonnummer": {"type": "string","pattern": "^0[1-9][0-9]{8}$","description": "Het telefoonnummer waaronder een PERSOON bereikbaar is."},"CodeTypeTelefoonnummer": {"type": "string","enum": ["Privé","Werk","Vast","Mobiel","Fax","Sateliet"],"description": "De code die het type TELEFOONNUMMER aangeeft."},"IndicatieGeheimTelefoonnummer": {"type": "string","enum": ["Ja","Nee"],"description": "De code die aangeeft of het TELEFOONNUMMER beperkt bekend wordt gemaakt door de telecomprovider."},"EMailadres": {"type": "string","pattern": "^[A-Za-z0-9_-]+([.][A-Za-z0-9_-]+)*@[A-Za-z0-9_-]+([.][A-Za-z0-9_-]+)*[.][A-Za-z0-9]+$","description": "Het adres waaronder een PERSOON per elektronische post bereikbaar is."},"IndicatieVoorkeurTelefoonnummer": {"type": "string","enum": ["Ja","Nee"],"description": "De code die aangeeft of het TELEFOONNUMMER het voorkeur nummer is."}},"additionalProperties": false,"required": []},"Kind": {"properties": {"Burgerservicenummer": {"type": "string","pattern": "^[0-9]{9}$","description": "Een uniek identificerend nummer van een PERSOON, die ingeschreven staat in de Gemeentelijke Basisadministratie Persoonsgegevens (GBA) of de Registratie Niet-ingezetenen (RNI).Bron: SGROpmerking:Elk nummer moet voldoen aan de bij de voorwaarden beschreven proef.Voorwaarden waarde BSN:   Indien het nummer per cijfer wordt aangeduid als (s0 s1 s2 s3 s4 s5 s6 s7 s8), dan is de volgende voorwaarde te controleren: (9s0) + (8s1) + (7s2) + (6s3) + (5s4) + (4s5) + (3s6) + (2s7) - (1*s8) is deelbaar door 11Toelichting:1.   Het Burgerservicenummer onderscheidt zich van het Sofi-nummer voornamelijk voor wat betreft het bereik ervan en de wijze waarop wettelijk is vastgelegd wat met behulp van het Burgerservicenummer mag gebeuren.2.   De gebruikers van het Burgerservicenummer bestaan uit overheidsorganen alsmede niet-overheidsorganen. Omdat het niet duidelijk is wat de criteria zijn om niet-overheidsorganen wel of niet toe te laten tot het gebruik van het Burgerservicenummer is besloten om de gebruikersaspecten niet in de definitie op te nemen.De oorspronkelijke naamgeving en definitie van dit gegevenselement conform de (authentieke) bron:Elementnaam   :    BurgerservicenummerDefinitie    :    Elk ingeschreven persoon heeft een BSN, een nummer dat de persoon uniek identificeert in alle overheidsadministraties.Norminstantie   :    GBA"},"Geboortedatum": {"type": "string","description": "De datum van geboorte van een PERSOON.Bron: NEN 1888:2002 - Geboortedatum (overgenomen zoals in SGR)Opmerking:1. Deze datum staat gewoonlijk vermeld op de geboorteakte dan wel een ander brondocument.Een GEBOORTEDATUM behoort te worden vastgesteld in verband met zijn rechtsgeldige betekenis, in het bijzonder voor de instellingen die minimaal een SZ-WET uitvoeren."},"OuderKindRelatietype": {"type": "string","enum": ["Ouder - Kind","Pleegouder - Plaagkind"],"description": "Type ouder kind relatieBron: GBI-Werkgroep Ontologie Inkomen"},"IndicatieThuiswonend": {"type": "string","enum": ["Ja","Nee"],"description": "Indicatie over of de wel/geen sprake is van een thuiswonende relatie.Bron: GBI-Werkgroep Ontologie Inkomen"},"IndicatieCoOuder": {"type": "string","enum": ["Ja","Nee","Niet van toepassing"],"description": "Indicatie over of de wel/niet sprake is van co-ouderschap.Bron: GBI-Werkgroep Ontologie Inkomen"},"IndicatieKinderbijslag": {"type": "string","enum": ["Ja","Nee"],"description": "Indicatie over of er wel/geen kinderbijslag betaald dient te worden.Bron: GBI-Werkgroep Ontologie Inkomen"},"IndicatieOnderhoudsplicht": {"type": "string","enum": ["Ja","Nee"],"description": "Indicatie over of er sprake is van een onderhoudsplicht van de persoon.Bron: GBI-Werkgroep Ontologie Inkomen"}},"additionalProperties": false,"required": ["Burgerservicenummer","Geboortedatum","OuderKindRelatietype","IndicatieThuiswonend","IndicatieCoOuder","IndicatieKinderbijslag","IndicatieOnderhoudsplicht"]},"Medebewoner": {"properties": {"VoorlettersAanschrijving": {"type": "string","description": "De voorletters waarmee een persoonaangeschreven wil worden.Bron: RSGB 3.0"},"Voorvoegsel": {"type": "string","description": "Voorvoegsel behorende bij de stam van de geslachtsnaam.Bron: RSGB 3.0"},"Geslachtsnaamstam": {"type": "string","description": "De stam van de geslachtsnaam. Deze is ontadaan van voorvoegsels en titels."},"Burgerservicenummer": {"type": "string","pattern": "^[0-9]{9}$","description": "Een uniek identificerend nummer van een PERSOON, die ingeschreven staat in de Gemeentelijke Basisadministratie Persoonsgegevens (GBA) of de Registratie Niet-ingezetenen (RNI).Bron: SGROpmerking:Elk nummer moet voldoen aan de bij de voorwaarden beschreven proef.Voorwaarden waarde BSN:   Indien het nummer per cijfer wordt aangeduid als (s0 s1 s2 s3 s4 s5 s6 s7 s8), dan is de volgende voorwaarde te controleren: (9s0) + (8s1) + (7s2) + (6s3) + (5s4) + (4s5) + (3s6) + (2s7) - (1*s8) is deelbaar door 11Toelichting:1.   Het Burgerservicenummer onderscheidt zich van het Sofi-nummer voornamelijk voor wat betreft het bereik ervan en de wijze waarop wettelijk is vastgelegd wat met behulp van het Burgerservicenummer mag gebeuren.2.   De gebruikers van het Burgerservicenummer bestaan uit overheidsorganen alsmede niet-overheidsorganen. Omdat het niet duidelijk is wat de criteria zijn om niet-overheidsorganen wel of niet toe te laten tot het gebruik van het Burgerservicenummer is besloten om de gebruikersaspecten niet in de definitie op te nemen.De oorspronkelijke naamgeving en definitie van dit gegevenselement conform de (authentieke) bron:Elementnaam   :    BurgerservicenummerDefinitie    :    Elk ingeschreven persoon heeft een BSN, een nummer dat de persoon uniek identificeert in alle overheidsadministraties.Norminstantie   :    GBA"},"Geboortedatum": {"type": "string","description": "De datum van geboorte van een PERSOON.Bron: NEN 1888:2002 - Geboortedatum (overgenomen zoals in SGR)Opmerking:1. Deze datum staat gewoonlijk vermeld op de geboorteakte dan wel een ander brondocument.Een GEBOORTEDATUM behoort te worden vastgesteld in verband met zijn rechtsgeldige betekenis, in het bijzonder voor de instellingen die minimaal een SZ-WET uitvoeren."},"Relatietype": {"type": "string","enum": ["Ouder","Schoonouder","Opa, oma, broer of zus","Iemand die een kamer bij mij huurt","Iemand waarvan ik een kamer huur","Kostganger of kostgever","Anders"],"description": "Type medebewonerBron: GBI-Werkgroep Ontologie Inkomen"},"IndicatieKostendeler": {"type": "string","enum": ["Ja","Nee"],"description": ""}},"additionalProperties": false,"required": ["Geboortedatum","Relatietype","IndicatieKostendeler"]},"RedenAanvraag": {"properties": {"Reden": {"type": "string","enum": ["Geen of te weinig inkomen","Wijziging gezin","(ex)Zelfstandige","Verblijfsstatus","Ik kom vrij na gevangenisstraf","Anders"],"description": ""},"IngangBijstandsuitkering": {"type": "array","items": {"$ref": "#/definitions/IngangBijstandsuitkering"},"minItems": 1,"maxItems": 1,"uniqueItems": true}},"additionalProperties": false,"required": ["Reden"]},"IngangBijstandsuitkering": {"properties": {"EerderAanvragenRedenAanwezig": {"type": "string","enum": ["Ja","Nee"],"description": ""},"UitkeringStartdatum": {"type": "string","description": ""},"WachtenOpBeslissingInstantie": {"type": "string","enum": ["Ja","Nee"],"description": ""},"BeslissingInstantieOntvangstdatum": {"type": "string","description": ""},"OpnameZiekenhuis": {"type": "string","enum": ["Ja","Nee"],"description": ""},"OpnameStartdatum": {"type": "string","description": ""},"OpnameEinddatum": {"type": "string","description": ""},"DigiDaanvraag": {"type": "string","enum": ["Ja","Nee"],"description": ""},"DigiDaanvraagdatum": {"type": "string","description": ""},"DigitaalVerwezenGemeenteNaMelden": {"type": "string","enum": ["Ja","Nee"],"description": ""},"MelddatumGemeente": {"type": "string","description": ""},"BijzondereRedenNietEerderAanvragen": {"type": "string","description": ""}},"additionalProperties": false,"required": ["UitkeringStartdatum","MelddatumGemeente"]},"Inkomsten": {"properties": {"CategorieInkomsten": {"type": "string","enum": ["Alimentatie","Ander inkomen","Betaald werk","Heffingskorting","Pensioen","Studiefinanciering","Uitkering","Vergoedingen","Stagevergoeding"],"description": "De type inkomsten zijn gecategoriseerd. Binnen een inkomstenverhouding spreken we altijd van één type inkomsten, bijvoorbeeld loon, alimentatie e.d. Zie daarvoor de optiewaarden."},"Inkomstenperiode": {"type": "array","items": {"$ref": "#/definitions/Inkomstenperiode"},"minItems": 0,"uniqueItems": true}},"additionalProperties": false,"required": ["CategorieInkomsten"]},"Inkomstenperiode": {"properties": {"PeriodeStartdatum": {"type": "string","description": "De startdatum van de periode waarop het geboekte bedrag in dit inkomstencomponent betrekking heeft."},"PeriodeEinddatum": {"type": "string","description": "De einddatum van de periode waarop het geboekte bedrag in dit inkomstencomponent betrekking heeft."},"BijgevoegdBewijs": {"type": "string","enum": ["Ja","Nee"],"description": "Indicatie of bij dit inkomstencomponent een bewijs is toegevoegd"},"LinkNaarBewijs": {"type": "string","description": "Een link (URI) naar het bijgevoegde bewijs."}},"additionalProperties": false,"required": ["PeriodeStartdatum","PeriodeEinddatum"]},"Vermogenscomponent": {"properties": {"CodeSoortVermogenscomponent": {"type": "string","enum": ["Eigen woning (huis/woonschip/woonwagen in eigendom)","Aandeel onverdeelde boedel","Leningen aan derden","Schulden","Schulden uitgezonderd studieschuld","Levensverzekering","Levensverzekering/belegging niet gekoppeld aan hypotheek","Studieschuld","Levensverzekering/belegging gekoppeld aan hypotheek","Contanten","Bank-/Girorekening","Overig onroerend goed","Waardepapieren","Motorvoertuigen","Caravans","Antiek/sieraden","Overige bezittingen","Beleggingsproduct (Aandeel, Lease, Effect, Obligatie, e.d.)","Hypotheek eigen woning","Aanspraak op erfenis binnen zes maanden","Digitale valuta (cryptomunten)"],"description": ""},"Waardepeiling": {"type": "array","items": {"$ref": "#/definitions/Waardepeiling"},"minItems": 1,"maxItems": 1,"uniqueItems": true},"Motorvoertuig": {"type": "array","items": {"$ref": "#/definitions/Motorvoertuig"},"minItems": 0,"maxItems": 1},"Bankrekening": {"type": "array","items": {"$ref": "#/definitions/BankrekeningVermogen"},"minItems": 0,"maxItems": 1}},"additionalProperties": false,"required": ["CodeSoortVermogenscomponent"]},"Waardepeiling": {"properties": {"Brontype": {"type": "string","enum": ["Klant","Professional","Register","Externe bron"],"description": ""},"WaardeVermogenscomponent": {"type": "number","pattern": "^-?[0-9]((;|,|\\.)[0-9]{2}|)$","description": ""},"DatumAanspraakVermogenscomponent": {"type": "string","description": ""},"BijgevoegdBewijs": {"type": "string","enum": ["Ja","Nee"],"description": ""},"LinkNaarBewijs": {"type": "string","description": ""},"Peilmoment": {"type": "string","description": "Het moment waarop het saldobedrag op de bankrekening stond.Bron: GBI-team Ontologie"},"WaardeSoortVermogenscomponent": {"type": "string","enum": ["Hypotheekschuld","WOZwaarde","Banksaldo","Beleggingsproductsaldo","Cataloguswaarde","Marktwaarde"],"description": "De soort waarde waarover de waardepeiling gaat, Zie de enumeratie."}},"additionalProperties": false,"required": ["Brontype","WaardeVermogenscomponent","Peilmoment","WaardeSoortVermogenscomponent"]},"BankrekeningVermogen": {"properties": {"Iban": {"type": "string","description": "Het wereldwijde unieke nummer van een bankrekening.Bron: SGR 16.0Norminstantie: ISO - 13616Opmerkingen:Zie ISO - 13616 voor de opbouw van dit gegevenselement."},"Bankrekeningnummer": {"type": "string","description": "Het nummer van een bankrekening, zoals dat door een bankinstelling als identificerend nummer aan een overeenkomst tussen de bank en één of meer PERSO(O)Nen wordt toegekend.Dit rekeningnummer kan worden gebruikt in het geval er wel sprake is van bovenstaande afspraak, maar geen IBAN bekend is. Deze informatiebehoefte bestaat om vermogen op buitenlandse rekeningen (bijv. Russisch) toe te kunnen voegen als vermogen.Bron: SGR 16.0Norminstantie: NEN-1888:2002 - Bankrekeningnummer"},"Tenaamstelling": {"type": "string","description": "De naam van de houder(s) van de BANKREKENING.Bron: SGR"}},"additionalProperties": false,"required": ["Tenaamstelling"]},"Motorvoertuig": {"properties": {"Kenteken": {"type": "string","pattern": "^([a-zA-Z]{2}-[0-9]{2}-[0-9]{2}|[0-9]{2}-[0-9]{2}-[a-zA-Z]{2}|[0-9]{2}-[a-zA-Z]{2}-[0-9]{2}|[a-zA-Z]{2}-[0-9]{2}-[a-zA-Z]{2}|[a-zA-Z]{2}-[a-zA-Z]{2}-[0-9]{2}|[0-9]{2}-[a-zA-Z]{2}-[a-zA-Z]{2}|[0-9]{2}-[a-zA-Z]{3}-[0-9]{1}|[0-9]{1}-[a-zA-Z]{3}-[0-9]{2}|[a-zA-Z]{2}-[0-9]{3}-[a-zA-Z]{1}|[a-zA-Z]{1}-[0-9]{3}-[a-zA-Z]{2}|[a-zA-Z]{3}-[0-9]{2}-[a-zA-Z]{1}|[a-zA-Z]{1}-[0-9]{2}-[a-zA-Z]{3}|[0-9]{1}-[a-zA-Z]{2}-[0-9]{3}|[0-9]{3}-[a-zA-Z]{2}-[0-9]{1})$","description": ""},"SoortMotorvoertuig": {"type": "string","enum": ["Aanhangwagen","Bedrijfsauto","Bromfiets","Driewielig motorrijtuig","Motorfiets","Personenauto"],"description": ""}},"additionalProperties": false,"required": ["Kenteken","SoortMotorvoertuig"]},"BeschikbaarheidWerk": {"properties": {"Uren": {"type": "integer","pattern": "^-?[0-9]{1,}$","description": "Aantal uren in de week beschikbaar voor werk"},"Reden": {"type": "string","description": "Als het aantal uren in de week onder een normbedrag valt, moet een reden opgegeven worden waarom dat zo is."}},"additionalProperties": false,"required": ["Uren","Reden"]},"Nederlandsstraatadres": {"properties": {"Postbusnummer": {"type": "integer","pattern": "^-?[0-9]{1,}$","description": "De numerieke aanduiding zoals deze door TNT Post is vastgesteld voor een Nederlandse POSTBUS.Bron: SGR 16.0Norminstantie: NEN 5825:2002 - Postbusnummer"},"Locatieomschrijving": {"type": "string","description": "Een nadere aanduiding bij de STRAATNAAM en - indien aanwezig - het HUISNUMMER of bij Postbus en POSTBUSNUMMER, dan wel Antwoordnummer en ANTWOORDNUMMER.Bron: SGR 16.0, gebaseerd op NEN 5825:2002 - LocatieomschrijvingOpmerkingen:1. Gebruikmaking van de LOCATIEOMSCHRIJVING kan om verschillende redenen wenselijk dan wel noodzakelijk zijn. Het HUISNUMMER kan ontbreken of men wil niet-uiterlijk waarneembare kenmerken, zoals toevoegingen voor nadere differentiatie achter de voordeur, vermelden.Voorbeelden van toevoegingen die in de LOCATIEOMSCHRIJVING opgenomen kunnen worden, zijn: poste restantewoonboot Mariannewoonwagen Bambiflat Orionkamer 412appartement V 113kelder, zolder, souterrain, enz.1e verdieping, 2e verdieping, enz.aanduiding ten behoeve van horizontale verdeling, zoals:linksmidden dwarsrechtsvoormidden evenwijdigachtervoor linksmidden linksachter linksvoor middenmidden middenachter midden2. De waarde poste restante voor een LOCATIEOMSCHRIJVING is niet toegestaan in een DOMICILIE-ADRES.3. De toelichting van LOCATIEBESCHRIJVING volgens BRP is een geheel of gedeeltelijke omschrijving van de ligging van een object. Als locatiebeschrijving is niet toegestaan een  postbus (postbox) en een poste restante.Bron: SGR 16.0"},"Postcode": {"type": "string","pattern": "^[1-9][0-9]{3} ?[a-zA-Z]{2}$","description": "De officiële codering van TNT Post voor een Nederlands postadres, bestaande uit een numeriek deel en een alfabetisch deel.Bron: SGR 16.0Norminstantie: NEN 5825:2002 - PostcodeOpmerking:-360 Het POSTCODE numerieke deel - bestaande uit vier cijfers - (formaat N4), is het deel van de POSTCODE dat een woonplaats, een wijk in een woonplaats, een groep postbussen in een woonplaats of een groep ANTWOORDNUMMERS in een woonplaats aangeeft. (Bron: STUCON)Het POSTCODE alfabetische deel - bestaande uit twee hoofdletters - (formaat A2), is het deel van de POSTCODE dat binnen een woonplaats of een wijk in een woonplaats, betrekking heeft op een groep van ongeveer 25 woningen, bedrijfspanden of iets dergelijks, op een aantal postbussen of op een aantal ANTWOORDNUMMERS. (Bron: UGR)Alle bestaanbare waardes voor POSTCODE zijn te vinden in de TNT postcodetabel. Deze is op te vragen bij de TNT Post.Bron: SGR 16.0"},"Woonplaatsnaam": {"type": "string","description": "De naam van een door het bevoegde gemeentelijke orgaan als zodanig aangewezen gedeelte van het gemeentelijk grondgebied.Norminstantie: BAG/GBABron: SGR 16.0"},"Straatnaam": {"type": "string","description": "De officiële door de gemeente vastgestelde naam van een straat.Bron: SGR 16.0Norminstantie: NEN 5825:2002 - StraatnaamOpmerkingen:-360 Het waardebereik van dit gegevenselement is te vinden in de PTT-postcodetabel. Deze is op te vragen bij de PTT.De inkortingsregels uit bijlage A van de NEN 5825 zijn van toepassing op straatnamen van meer dan 24 posities. De inkortingsregels zijn in de PTT-postcodetabel reeds toegepast.Bron: SGR 16.0"},"Huisnummer": {"type": "integer","pattern": "^-?[0-9]{1,}$","description": "De numerieke aanduiding zoals deze door de gemeente aan het object is toegekend.Bron: SGR 16.0Norminstantie: NEN 5825:2002 - Huisnummer"},"Huisletter": {"type": "string","description": "Een alfabetisch teken achter het huisnummer zoals dit door het gemeentebestuur is toegekend.Bron: SGR 16.0Norminstantie: GBA"},"Huisnummertoevoeging": {"type": "string","description": "De huisnummertoevoeging zoals deze door de gemeente aan het object is toegekend.Bron: SGR 16.0Norminstantie: NEN 5825:2002 - HuisnummertoevoegingOpmerking:Bij de feitelijke toekenning van identificatiegegevens aan een object in aanvulling op het huisnummer kan door gemeenten gebruik gemaakt worden van de elementen  huisletter  en  huisnummertoevoeging . In het element huisnummertoevoeging van deze norm worden deze door de gemeente toegekende elementen opgenomen.Bron: SGR 16.0"},"AanduidingBijHuisnummer": {"type": "string","description": "De aanduiding die wordt gebruikt voor adressen die niet zijn voorzien van de gebruikelijke straatnaam en huisnummeraanduidingen.Bron: SGR 16.0Norminstantie: GBA"}},"additionalProperties": false,"required": ["Postcode","Woonplaatsnaam","Straatnaam","Huisnummer"]},"NederlandsPostbusadres": {"properties": {"Locatieomschrijving": {"type": "string","description": "Een nadere aanduiding bij de STRAATNAAM en - indien aanwezig - het HUISNUMMER of bij Postbus en POSTBUSNUMMER, dan wel Antwoordnummer en ANTWOORDNUMMER.Bron: SGR 16.0, gebaseerd op NEN 5825:2002 - LocatieomschrijvingOpmerkingen:1. Gebruikmaking van de LOCATIEOMSCHRIJVING kan om verschillende redenen wenselijk dan wel noodzakelijk zijn. Het HUISNUMMER kan ontbreken of men wil niet-uiterlijk waarneembare kenmerken, zoals toevoegingen voor nadere differentiatie achter de voordeur, vermelden.Voorbeelden van toevoegingen die in de LOCATIEOMSCHRIJVING opgenomen kunnen worden, zijn: poste restantewoonboot Mariannewoonwagen Bambiflat Orionkamer 412appartement V 113kelder, zolder, souterrain, enz.1e verdieping, 2e verdieping, enz.aanduiding ten behoeve van horizontale verdeling, zoals:linksmidden dwarsrechtsvoormidden evenwijdigachtervoor linksmidden linksachter linksvoor middenmidden middenachter midden2. De waarde poste restante voor een LOCATIEOMSCHRIJVING is niet toegestaan in een DOMICILIE-ADRES.3. De toelichting van LOCATIEBESCHRIJVING volgens BRP is een geheel of gedeeltelijke omschrijving van de ligging van een object. Als locatiebeschrijving is niet toegestaan een  postbus (postbox) en een poste restante.Bron: SGR 16.0"},"Postcode": {"type": "string","pattern": "^[1-9][0-9]{3} ?[a-zA-Z]{2}$","description": "De officiële codering van TNT Post voor een Nederlands postadres, bestaande uit een numeriek deel en een alfabetisch deel.Bron: SGR 16.0Norminstantie: NEN 5825:2002 - PostcodeOpmerking:-360 Het POSTCODE numerieke deel - bestaande uit vier cijfers - (formaat N4), is het deel van de POSTCODE dat een woonplaats, een wijk in een woonplaats, een groep postbussen in een woonplaats of een groep ANTWOORDNUMMERS in een woonplaats aangeeft. (Bron: STUCON)Het POSTCODE alfabetische deel - bestaande uit twee hoofdletters - (formaat A2), is het deel van de POSTCODE dat binnen een woonplaats of een wijk in een woonplaats, betrekking heeft op een groep van ongeveer 25 woningen, bedrijfspanden of iets dergelijks, op een aantal postbussen of op een aantal ANTWOORDNUMMERS. (Bron: UGR)Alle bestaanbare waardes voor POSTCODE zijn te vinden in de TNT postcodetabel. Deze is op te vragen bij de TNT Post.Bron: SGR 16.0"},"Woonplaatsnaam": {"type": "string","description": "De naam van een door het bevoegde gemeentelijke orgaan als zodanig aangewezen gedeelte van het gemeentelijk grondgebied.Norminstantie: BAG/GBABron: SGR 16.0"},"Postbusnummer": {"type": "integer","pattern": "^-?[0-9]{1,}$","description": "De numerieke aanduiding zoals deze door TNT Post is vastgesteld voor een Nederlandse POSTBUS.Bron: SGR 16.0Norminstantie: NEN 5825:2002 - Postbusnummer"}},"additionalProperties": false,"required": ["Postcode","Woonplaatsnaam","Postbusnummer"]},"Buitenlandsstraatadres": {"properties": {"LocatieomschrijvingBuitenland": {"type": "string","description": "Een nadere aanduiding bij een buitenlands adres.Norminstantie: UGRBron: SGR 16.0Opmerking:Gebruikmaking van dit gegevenselement kan om verschillende redenen wenselijk dan wel noodzakelijk zijn. Het HUISNUMMER BUITENLAND kan ontbreken of men wil niet-uiterlijk waarneembare kenmerken, zoals toevoegingen voor nadere differentiatie achter de voordeur, vermelden."},"PostcodeBuitenland": {"type": "string","pattern": "^[1-9][0-9]{3} ?[a-zA-Z]{2}$","description": "Een door de buitenlandse postdienst vastgestelde codering voor een adres in het buitenland.Norminstantie: UGRBron: SGR 16.0Opmerking:De indeling naar staat, departement, provincie of gebiedsdeel is in de POSTCODE BUITENLAND vervat en dus overbodig geworden om apart door te geven in een gegevensuitwisseling. Indien er geen POSTCODE BUITENLAND is, kan echter de aanduiding van staat, departement, provincie of gebiedsdeel opgenomen worden in REGIONAAM BUITENLAND."},"RegionaamBuitenland": {"type": "string","description": "De naam van een gebiedsdeel binnen een land.Norminstantie: UGRBron: SGR 16.0Opmerking:Inkortingsregels:Als een REGIONAAM BUITENLAND langer is dan 24 posities, moet de eerste inkortingsregel worden toegepast. Blijkt na toepassing daarvan de REGIONAAM BUITENLAND nog steeds de 24 posities te overschrijden, dan treedt de tweede inkortingsregel in werking, en zo vervolgend totdat het aantal posities nog ten hoogste 24 bedraagt of alle inkortingsregels zijn gehanteerd. Tenzij anders vermeld, worden de inkortingsregels van rechts beginnend toegepast.Inkortingsregel 1.Verwijder leestekens uit de REGIONAAM BUITENLAND.Inkortingsregel 2.Kort in de REGIONAAM BUITENLAND, naar eigen inzicht, de tussenvoegsels in.Inkortingsregel 3.Kort het eerste bijvoeglijk naamwoord, en indien nodig de daarop volgende bijvoeglijke naamwoorden, van een samengestelde REGIONAAM BUITENLAND in tot de eerste letter van het woord, tenzij het betreffende woord al een inkorting is.Inkortingsregel 4.Kort het eerste woord na de tussenvoegsel, en indien nodig de daaropvolgende woorden, van een samengestelde REGIONAAM BUITENLAND in tot de eerste letter van het woord, tenzij het betreffende woord al een inkorting is.Inkortingsregel 5.Vraag advies aan degene, die REGIONAAM BUITENLAND verstrekt."},"WoonplaatsnaamBuitenland": {"type": "string","description": "De naam van een woonplaats in het buitenland.Norminstantie: UGRBron: SGR 16.0Opmerking:Inkortingsregels:Als een WOONPLAATSNAAM BUITENLAND langer is dan 24 posities, moet de eerste inkortingsregel worden toegepast. Blijkt na toepassing daarvan de WOONPLAATSNAAM BUITENLAND nog steeds de 24 posities te overschrijden, dan treedt de tweede inkortingsregel in werking, en zo vervolgend totdat het aantal posities nog ten hoogste 24 bedraagt of alle inkortingsregels zijn gehanteerd. Tenzij anders vermeld, worden de inkortingsregels van rechts beginnend toegepast.Inkortingsregel 1.Verwijder leestekens uit de WOONPLAATSNAAM BUITENLAND.Inkortingsregel 2.Kort in de WOONPLAATSNAAM BUITENLAND, naar eigen inzicht, de tussenvoegsels in.Inkortingsregel 3.Kort het eerste bijvoeglijk naamwoord, en indien nodig de daarop volgende bijvoeglijke naamwoorden, van een samengestelde WOONPLAATSNAAM BUITENLAND in tot de eerste letter van het woord, tenzij het betreffende woord al een inkorting is.Inkortingsregel 4.Kort het eerste woord na de tussenvoegsel, en indien nodig de daaropvolgende woorden, van een samengestelde WOONPLAATSNAAM BUITENLAND in tot de eerste letter van het woord, tenzij het betreffende woord al een inkorting is.Inkortingsregel 5.Vraag advies aan degene, die WOONPLAATSNAAM BUITENLAND verstrekt."},"Landsnaam": {"type": "string","description": "De naam van een land of een gebiedsdeel.Norminstantie: UGRBron: SGR 16.0Opmerking:Indien voor een bepaald land (nog) geen LANDENCODE ISO in ISO 3166 vermeld staat, moet LANDSNAAM worden ingevuld."},"LandencodeIso": {"type": "string","description": "De code van een huidig land of gebiedsdeel conform ISO 3166.Norminstantie: ISO 3166 (Entity, Alpha-2 code)Bron: SGR 16.0Opmerking: LANDENCODE ISO is niet expliciet gedefinieerd in ISO 3166. De omschrijving van dit gegevenselement is dan ook een SUWI-omschrijving. Tabel ISO 3166 Codes for the representation of names of countries and their subdivisions LANDENCODE ISO dient in principe in ADRES BUITENLAND altijd te worden opgenomen.Indien voor een bepaald land (nog) geen code in ISO 3166 staat vermeld, moet LANDSNAAM worden ingevuld."},"HuisnummerBuitenland": {"type": "integer","pattern": "^-?[0-9]{1,}$","description": "De aanduiding van een (deel van een) pand in het buitenland.Norminstantie: UGRBron: SGR 16.0Opmerking:Het HUISNUMMER BUITENLAND is inclusief een eventuele huisnummertoevoeging."},"StraatnaamBuitenland": {"type": "string","description": "De naam van een straat in het buitenland.Norminstantie: UGRBron: SGR 16.0Opmerking:Inkortingsregels:Als de STRAATNAAM BUITENLAND langer is dan 24 posities, moet de eerste inkortingsregel worden toegepast. Blijkt na toepassing daarvan de STRAATNAAM BUITENLAND nog steeds de 24 posities te overschrijden, dan treedt de tweede inkortingsregel in werking, en zo vervolgend totdat het aantal posities nog ten hoogste 24 bedraagt of alle inkortingsregels zijn gehanteerd.Inkortingsregel 1.Verwijder de leestekens punt (.) en apostrof uit de STRAATNAAM BUITENLAND.Inkortingsregel 2.Kort de woorden die een richting aanduiden, indien zij als laatste element en zelfstandig in de STRAATNAAM BUITENLAND voorkomen, in tot een letter.Voorbeelden:North NOuest OSouth SEastside EInkortingsregel 3.Kort de uitgangen of losse woorden die de straataanduiding betreffen zoveel mogelijk volgens de NEN 5825 in en anders naar eigen inzicht.Voorbeelden:strasse strboulevard blvdstreet st.rue rcanal canhavn hInkortingsregel 4.De getallen in Romeinse cijfers worden vervangen door Arabische cijfers.Voorbeelden:XXV 25XIII 13Inkortingsregel 5.De geschreven telwoorden worden vervangen door Arabische cijfers.Voorbeelden:seize 16eight 8Inkortingsregel 6.De voluit geschreven rangtelwoorden worden vervangen door Arabische cijfers plus hun gebruikelijke uitgang.Voorbeeld:sixième 6eseventeenth 17thInkortingsregel 7.Kort de tussenvoegsels zoveel mogelijk volgens de NEN 5825 in en anders naar eigen inzicht.Voorbeelden:an den adde dof oInkortingsregel 8.Kort het eerste bijvoeglijk naamwoord of de eerste titel bij het naambepalende zelfstandige woord tot op de eerste letter in. Dit zoveel mogelijk volgens de NEN 5825 en anders naar eigen inzicht.Voorbeelden:Comte CGraf GGreat GQueen QGeneral GInkortingsregel 9.Pas inkortingsregel 8 opnieuw toe, maar nu op het tweede bijvoeglijk naamwoord of de tweede titel.Inkortingsregel 10.Vraag advies aan degene die de STRAATNAAM BUITENLAND heeft verstrekt."}},"additionalProperties": false,"required": []},"Huisvesting": {"properties": {"IndicatieZelfstandigeWoonruimte": {"type": "string","enum": ["Ja","Nee"],"description": "Code die aangeeft of de PERSOON in de woning zelfstandig beschikt over eigen woonruimte.Bron: SGR 16.0"},"CodeSoortHuisvesting": {"type": "string","enum": ["Onbekend","Huis","Woonwagen","Woonschip","Anders"],"description": "Toelichting op de woonsituatie van de PERSOON betreffende de huisvesting.Bron: SGR 16.0"},"ToelichtingHuisvesting": {"type": "string","description": "Toelichting op de woonsituatie van de PERSOON betreffende de huisvesting.Bron: SGR 16.0"},"CodeRelatieBewonerTotHuisvesting": {"type": "string","enum": ["onbekend","(mede)eigenaar","huurder","onderhuurder/kamerbewoner","kostganger","inwonend (bij ouders)","gehuisvest in inrichting","gehuisvest in instelling","gehuisvest conform doelgroep Besluit adreslozen","geen vaste woon- of verblijfplaats en niet behorend tot de doelgroep Besluit adreslozen","anders","niet van toepassing"],"description": "Code die aangeeft in welke hoedanigheid de PERSOON gehuisvest is.Bron: SGR 16.0"},"ToelichtingRelatieBewonerTotHuisvesting": {"type": "string","description": "Toelichting op de hoedanigheid waarin de PERSOON de woning bewoont.Norminstantie: SGR"}},"additionalProperties": false,"required": ["IndicatieZelfstandigeWoonruimte","CodeSoortHuisvesting","CodeRelatieBewonerTotHuisvesting"]},"Identiteitsbewijs": {"properties": {"CodeSoortIdentiteitsbewijs": {"type": "string","enum": ["Nationaal paspoort","Diplomatiek paspoort","Dienstpaspoort","Reisdocument voor vluchtelingen","Reisdocument voor vreemdelingen","Nooddocument","Ander, door de minister van Justitie vastgesteld, reisdocument","Europese identiteitskaart","Vreemdelingendocument","Nederlandse Identiteitskaart"],"description": "Code die het soort IDENTITEITSBEWIJS aangeeft, conform de Wet op de Identificatieplicht."},"DocumentnummerIdentiteitsbewijs": {"type": "string","description": "De unieke aanduiding van het IDENTITEITSBEWIJS."},"DatumEindeGeldigheidIdentiteitsbewijs": {"type": "string","description": "De datum van de laatste dag waarop het IDENTITEITSBEWIJS geldig is."}},"additionalProperties": false,"required": ["CodeSoortIdentiteitsbewijs"]},"Vreemdelingendocument": {"properties": {"IndicatieArbeidToegestaan": {"type": "string","enum": ["Ja","Nee"],"description": "Code die aangeeft of blijkens het VREEMDELINGENDOCUMENT arbeid in loondienst is toegestaan."},"IndicatieTewerkstellingsvergunningVereist": {"type": "string","enum": ["Ja","Nee"],"description": "Code die aangeeft of blijkens het VREEMDELINGENDOCUMENT de (aanstaande) werkgever van CLIENT SUWI een tewerkstellingsvergunning nodig heeft om hem in dienst te nemen."},"IndicatieVerlengingAangevraagd": {"type": "string","enum": ["Ja","Nee"],"description": "Code die aangeeft of de CLIENT SUWI verlenging van het VREEMDELINGENDOCUMENT heeft aangevraagd, maar nog niet verkregen."},"CodeSoortVreemdelingendocument": {"type": "string","enum": ["Geen","A-document","B-document","C-document","D-document","E-document","F1-document","F2-document","F3-document","W-document","BuZa-document","Document I","Document II","Document III","Document IV","EU/EUR-document"],"description": "Code die het soort VREEMDELINGENDOCUMENT aangeeft."}},"additionalProperties": false,"required": []},"Betaalgegevens": {"properties": {"Iban": {"type": "string","description": "Het wereldwijde unieke nummer van een bankrekening.Bron: SGR 16.0Norminstantie: ISO - 13616Opmerkingen:Zie ISO - 13616 voor de opbouw van dit gegevenselement."},"Tenaamstelling": {"type": "string","description": "De naam van de houder(s) van de BANKREKENING.Bron: SGR"}},"additionalProperties": false,"required": ["Iban","Tenaamstelling"]},"Bewindvoerder": {"properties": {"KvkNummer": {"type": "integer","pattern": "^-?[0-9]{1,}$","description": ""},"Vestigingsnummer": {"type": "integer","pattern": "^-?[0-9]{1,}$","description": "Landelijk uniek identificerend administratienummer van een VESTIGING zoals toegewezen door de Kamer van Koophandel (KvK).Bron: RSGB3.0"}},"additionalProperties": false,"required": ["KvkNummer"]},"Vaststelling": {"properties": {"Brontype": {"type": "string","enum": ["Klant","Professional","Register","Externe bron"],"description": "Bron welke gegeven heeft vastgesteld"},"BijgevoegdBewijs": {"type": "String","description": "Link naar bewijs"},"LinkNaarBewijs": {"type": "","description": "Link naar bewijs"},"Vaststellingsmoment": {"type": "DateTime","description": "Moment waarop gegevens zijn vastgesteld"}},"additionalProperties": false,"required": ["Brontype","BijgevoegdBewijs","LinkNaarBewijs","Vaststellingsmoment"]}}, "type": "object","properties": {"Aanvraag": {"$ref": "#/definitions/Aanvraag"}},"additionalProperties": false};
				const myJSON = JSON.stringify(myJSONobj, null, 2);
				document.getElementById("jsonoutput").innerHTML = myJSON;
			</script><h3>Mappingmodel:</h3>
<p><a href="Aanvraag levensonderhoud.png" target="_blank"><img src="Aanvraag levensonderhoud.png" alt="Aanvraag levensonderhoud"></a></p>
<h3>Definities:</h3>
<p>Een koppelvlak wordt beschreven door definities. Deze definities vormen de afbeelding tussen een technisch model, in dit geval JSON-schema, en de ontologie. Per definitie is hieronder gedocumenteerd op welke concepten de definitie is gebaseerd, welke attributen worden gebruikt en welke gerelateerde objecten worden meegenomen in het koppelvlak.</p><br><div id="definition_04CA3D91-F2F8-40F5-E0CB-28CCC9E693E4"><br><br><b><p>Definitie Aanvraag</p></b><p>De definitie is gebaseerd op de vereniging van de volgende concepten:</p><ul>
<li>
<p>Aanvraag</p>
<p>Het officiële verzoek tot het geven van een beschikking over de toelating tot de dienstverlening zoals beschreven in de Participatiewet, schriftelijk ingediend bij het bestuursorgaan dat bevoegd is op het verzoek te beslissen. Het verzoek moet voldoen aan de wettelijke vereisten zoals bepaald in artikel 4.2 van de Algemene Bestuurswet.</p>
</li>
</ul>
<ul>
<li>
<p>Aanvraagtype</p>
<p>Een *by design* ontworpen wijze van aanvraag voor een of meer diensttypen.</p>
</li>
</ul>
<ul>
<li>
<p>Diensttype</p>
<p>Het resultaat of effect van een afgeronde inspanning die een overheidsorgaan op basis van wettelijke taken levert en waarmee in een behoefte van een burger (of bedrijf) wordt voorzien. De daadwerkelijke levering van een dienst, meestal in de vorm van een financiële betaling.</p>
</li>
</ul>
<ul>
<li>
<p>Uitbetaling uitkering</p>
<p>Uitkeringen, die aan een huishouden worden gedaan, kunnen op verschillende manieren worden uitgevoerd.</p>
</li>
</ul><br><p>De navolgende attributen zijn opgenomen in de definitie van Aanvraag binnen het koppelvlak:</p>
<ul>
<li>
<p>AanvraagId</p>
<p></p>
</li>
</ul>
<ul>
<li>
<p>Code ontvangende gemeente [Verplicht]</p>
<p>De code van de gemeente, die de aanvraag ontvangt en verwerkt.</p>
</li>
</ul>
<ul>
<li>
<p>Aanvraagdatum [Verplicht]</p>
<p><p>De datum waarop de aanvraag is ingediend.</p><p>Doorgaans is dit de verzenddatum, echter, de aanvraag kan leiden tot een compleetheid- en juistheidtoets. Dit kan betekenen dat de aanvraag pas later wordt gecompleteerd. </p></p>
</li>
</ul>
<ul>
<li>
<p>Soort Aanvraag [Verplicht]</p>
<p>Soort aanvraag</p>
</li>
</ul>
<ul>
<li>
<p>Naam [Verplicht]</p>
<p></p>
</li>
</ul>
<ul>
<li>
<p>Soort uitbetaling [Verplicht]</p>
<p>De manier waarop de uitbetaling moet worden gedaan, hetzij aan de klant, zijn parter of gesplitst aan beide, hetzij aan een gemachtigde of een bewindvoerder.</p>
</li>
</ul><br><p>Van de gerelateerde objecten, die onder de definitie van Aanvraag vallen, staan hieronder de gegevens alsmede de verwijzing naar hun definitie:</p>
<ul>
<li>
<p>Aanvraag bevat 1  unieke, gerelateerde objecten c.q. Aanvrager.</p>
<p>De definitie van <a href="#definition_01C343B3-756D-BD2E-C158-28CE4B09D294">Persoon</a> beschrijft het gerelateerde object.</p>
</li>
</ul>
<ul>
<li>
<p>Aanvraag bevat 0..1  unieke, gerelateerde objecten c.q. Medeaanvrager.</p>
<p>De definitie van <a href="#definition_01C343B3-756D-BD2E-C158-28CE4B09D294">Persoon</a> beschrijft het gerelateerde object.</p>
</li>
</ul>
<ul>
<li>
<p>Aanvraag bevat 0-n  unieke, gerelateerde objecten c.q. Kinderen.</p>
<p>De definitie van <a href="#definition_07DA7CDB-AF1E-BF56-9D2A-29325AF0C83A">Kind</a> beschrijft het gerelateerde object.</p>
</li>
</ul>
<ul>
<li>
<p>Aanvraag bevat 0-n  unieke, gerelateerde objecten c.q. Medebewoners.</p>
<p>De definitie van <a href="#definition_0268B7E8-26BB-50DB-6F86-28CE4C3F6C61">Medebewoner</a> beschrijft het gerelateerde object.</p>
</li>
</ul>
<ul>
<li>
<p>Aanvraag bevat 0..1  unieke, gerelateerde objecten c.q. Zaak.</p>
<p>De definitie van <a href="#definition_1856897D-5462-E8C7-C523-28CE3FA7936C">Zaak</a> beschrijft het gerelateerde object.</p>
</li>
</ul>
<ul>
<li>
<p>Aanvraag bevat   unieke, gerelateerde objecten c.q. .</p>
<p>De definitie van <a href="#definition_"></a> beschrijft het gerelateerde object.</p>
</li>
</ul>
</div>
<div id="definition_1856897D-5462-E8C7-C523-28CE3FA7936C"><br><br><b><p>Definitie Zaak</p></b><p>De definitie is gebaseerd op concept:</p>
<ul>
<li>
<p>Zaak</p>
<p>Definitie van ZAAK</p>
</li>
</ul><br><p>De navolgende attributen zijn opgenomen in de definitie van Zaak binnen het koppelvlak:</p>
<ul>
<li>
<p>Url</p>
<p>URL-referentie naar dit object. Dit is de unieke identificatie en locatie van dit object.</p>
</li>
</ul>
<ul>
<li>
<p>Uuid</p>
<p>De unieke identificatie van de ZAAK binnen de organisatie die verantwoordelijk is voor de behandeling van de ZAAK.</p>
</li>
</ul>
<ul>
<li>
<p>Identificatie</p>
<p>De unieke identificatie van de ZAAK binnen de organisatie die verantwoordelijk is voor de behandeling van de ZAAK.</p>
</li>
</ul>
</div>
<div id="definition_01C343B3-756D-BD2E-C158-28CE4B09D294"><br><br><b><p>Definitie Persoon</p></b><p>De definitie is gebaseerd op de vereniging van de volgende concepten:</p><ul>
<li>
<p>Persoon</p>
<p><p>Een persoon zijnde een mens.</p><br><p>Bron: RSGB 3.0</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Nationaliteit</p>
<p><p>De aanduiding van welke staat een PERSOON onderdaan is.</p><br><p>Bron: SGR 16.0</p><p>Norminstantie: NEN 1888:2002 - Nationaliteit</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Huishouden</p>
<p><p>Het huishouden van een persoon.</p><br><p>Bron: GBI-Werkgroep Ontologie Inkomen</p><br></p>
</li>
</ul><br><p>De navolgende attributen zijn opgenomen in de definitie van Persoon binnen het koppelvlak:</p>
<ul>
<li>
<p>Burgerservicenummer [Verplicht]</p>
<p><p>Een uniek identificerend nummer van een PERSOON, die ingeschreven staat in de Gemeentelijke Basisadministratie Persoonsgegevens (GBA) of de Registratie Niet-ingezetenen (RNI).</p><br><p>Bron: SGR</p><p>Opmerking:</p><p>Elk nummer moet voldoen aan de bij de voorwaarden beschreven proef.</p><p>Voorwaarden waarde BSN:</p><ul><li>   Indien het nummer per cijfer wordt aangeduid als (s0 s1 s2 s3 s4 s5 s6 s7 s8), dan is de volgende voorwaarde te controleren: (9<i>s0) + (8</i>s1) + (7<i>s2) + (6</i>s3) + (5<i>s4) + (4</i>s5) + (3<i>s6) + (2</i>s7) - (1*s8) is deelbaar door 11</li></ul><br><br><p>Toelichting:</p><p>1.   Het Burgerservicenummer onderscheidt zich van het Sofi-nummer voornamelijk voor wat betreft het bereik ervan en de wijze waarop wettelijk is vastgelegd wat met behulp van het Burgerservicenummer mag gebeuren.</p><p>2.   De gebruikers van het Burgerservicenummer bestaan uit overheidsorganen alsmede niet-overheidsorganen. Omdat het niet duidelijk is wat de criteria zijn om niet-overheidsorganen wel of niet toe te laten tot het gebruik van het Burgerservicenummer is besloten om de gebruikersaspecten niet in de definitie op te nemen.</p><br><br><p>De oorspronkelijke naamgeving en definitie van dit gegevenselement conform de (authentieke) bron:</p><p>Elementnaam   :    Burgerservicenummer</p><p>Definitie    :    Elk ingeschreven persoon heeft een BSN, een nummer dat de persoon uniek identificeert in alle overheidsadministraties.</p><p>Norminstantie   :    GBA</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Geboortedatum [Verplicht]</p>
<p><p>De datum van geboorte van een PERSOON.</p><br><p>Bron: NEN 1888:2002 - Geboortedatum (overgenomen zoals in SGR)</p><p>Opmerking:</p><p>1. Deze datum staat gewoonlijk vermeld op de geboorteakte dan wel een ander brondocument.</p><p>Een GEBOORTEDATUM behoort te worden vastgesteld in verband met zijn rechtsgeldige betekenis, in het bijzonder voor de instellingen die minimaal een SZ-WET uitvoeren.</p></p>
</li>
</ul><br><p>Van de gerelateerde objecten, die onder de definitie van Persoon vallen, staan hieronder de gegevens alsmede de verwijzing naar hun definitie:</p>
<ul>
<li>
<p>Persoon bevat 0..1  unieke, gerelateerde objecten c.q. Contactgegevens.</p>
<p>De definitie van <a href="#definition_0BE06A57-5D63-525B-5A9E-28CE4B6C3C52">Contactgegevens</a> beschrijft het gerelateerde object.</p>
</li>
</ul>
<ul>
<li>
<p>Persoon bevat 0-n  unieke, gerelateerde objecten c.q. Identiteitsbewijs.</p>
<p>De definitie van <a href="#definition_088DE158-52B3-0E5B-12D1-28D47EEB0F2B">Identiteitsbewijs</a> beschrijft het gerelateerde object.</p>
</li>
</ul>
<ul>
<li>
<p>Persoon bevat 0-n  unieke, gerelateerde objecten c.q. Vreemdelingendocument.</p>
<p>De definitie van <a href="#definition_24C413DF-3C14-7E20-DFC8-28D47EF7736C">Vreemdelingendocument</a> beschrijft het gerelateerde object.</p>
</li>
</ul>
<ul>
<li>
<p>Persoon bevat 0-n  unieke, gerelateerde objecten c.q. Inkomsten.</p>
<p>De definitie van <a href="#definition_05328401-C506-BDEA-108C-28D7455990C2">Inkomsten</a> beschrijft het gerelateerde object.</p>
</li>
</ul>
<ul>
<li>
<p>Persoon bevat 0-n  unieke, gerelateerde objecten c.q. Vermogenscomponenten.</p>
<p>De definitie van <a href="#definition_1AFFB2EF-FBF3-C60A-9171-28D47E266238">Vermogenscomponent</a> beschrijft het gerelateerde object.</p>
</li>
</ul>
<ul>
<li>
<p>Persoon bevat 0..1  unieke, gerelateerde objecten c.q. BeschikbaarheidWerk.</p>
<p>De definitie van <a href="#definition_23CCC0F0-7208-90EC-296D-28D47E4D3067">BeschikbaarheidWerk</a> beschrijft het gerelateerde object.</p>
</li>
</ul>
<ul>
<li>
<p>Persoon bevat 1  unieke, gerelateerde objecten c.q. Huisvesting.</p>
<p>De definitie van <a href="#definition_130B0B2A-7DA0-9CEC-9915-28D47EDFC675">Huisvesting</a> beschrijft het gerelateerde object.</p>
</li>
</ul>
<ul>
<li>
<p>Persoon bevat 0-n  unieke, gerelateerde objecten c.q. RedenenAanvraag.</p>
<p>De definitie van <a href="#definition_05F4DD1B-5088-FDA0-9AB4-28CA59FC4664">RedenAanvraag</a> beschrijft het gerelateerde object.</p>
</li>
</ul>
<ul>
<li>
<p>Persoon bevat 0..1  unieke, gerelateerde objecten c.q. Bewindvoering.</p>
<p>De definitie van <a href="#definition_1126FB46-7852-102E-7547-2933A0246FF8">Bewindvoerder</a> beschrijft het gerelateerde object.</p>
</li>
</ul>
<ul>
<li>
<p>Persoon bevat 0..1  unieke, gerelateerde objecten c.q. Betaalgegevens.</p>
<p>De definitie van <a href="#definition_0DD875BA-B369-368D-0B3F-29339C96E2D5">Betaalgegevens</a> beschrijft het gerelateerde object.</p>
</li>
</ul><br><p>Verder is in de definitie van Persoon onder Correspondentieadres één van de volgende definities opgenomen:</p>
<ul>
<li><a href="#definition_1DC729EC-49DD-15BE-B608-28D47EBD7965">Nederlandsstraatadres</a></li>
<li><a href="#definition_0EF6B726-6A7E-5D8C-A18E-2933A3B92E03">NederlandsPostbusadres</a></li>
<li><a href="#definition_0EEAC38B-E5B5-F547-3E3C-28D47ED4AC5A">Buitenlandsstraatadres</a></li>
</ul>
</div>
<div id="definition_0BE06A57-5D63-525B-5A9E-28CE4B6C3C52"><br><br><b><p>Definitie Contactgegevens</p></b><p>De definitie is gebaseerd op concept:</p>
<ul>
<li>
<p>Contactgegevens</p>
<p>De contactgegevens van een persoon.</p>
</li>
</ul><br><p>De navolgende attributen zijn opgenomen in de definitie van Contactgegevens binnen het koppelvlak:</p>
<ul>
<li>
<p>Telefoon landnummer</p>
<p><p>Het telefoon landnummer waaronder de PERSOON bereikbaar is.</p><br><p>Norminstantie: ITU</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Telefoonnummer</p>
<p>Het telefoonnummer waaronder een PERSOON bereikbaar is.</p>
</li>
</ul>
<ul>
<li>
<p>Code type telefoonnummer</p>
<p>De code die het type TELEFOONNUMMER aangeeft.</p>
</li>
</ul>
<ul>
<li>
<p>Indicatie geheim telefoonnummer</p>
<p>De code die aangeeft of het TELEFOONNUMMER beperkt bekend wordt gemaakt door de telecomprovider.</p>
</li>
</ul>
<ul>
<li>
<p>E-mailadres</p>
<p>Het adres waaronder een PERSOON per elektronische post bereikbaar is.</p>
</li>
</ul>
<ul>
<li>
<p>Indicatie voorkeur telefoonnummer</p>
<p>De code die aangeeft of het TELEFOONNUMMER het voorkeur nummer is.</p>
</li>
</ul>
</div>
<div id="definition_07DA7CDB-AF1E-BF56-9D2A-29325AF0C83A"><br><br><b><p>Definitie Kind</p></b><p>De definitie is gebaseerd op de vereniging van de volgende concepten:</p><ul>
<li>
<p>Persoon</p>
<p><p>Een persoon zijnde een mens.</p><br><p>Bron: RSGB 3.0</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Ouder Kind</p>
<p><p>Gegevens over de ouder kind relatie van de betreffernde persoon.</p><br><p>Bron: GBI-Werkgroep Ontologie Inkomen</p><br></p>
</li>
</ul><br><p>De navolgende attributen zijn opgenomen in de definitie van Kind binnen het koppelvlak:</p>
<ul>
<li>
<p>Burgerservicenummer [Verplicht]</p>
<p><p>Een uniek identificerend nummer van een PERSOON, die ingeschreven staat in de Gemeentelijke Basisadministratie Persoonsgegevens (GBA) of de Registratie Niet-ingezetenen (RNI).</p><br><p>Bron: SGR</p><p>Opmerking:</p><p>Elk nummer moet voldoen aan de bij de voorwaarden beschreven proef.</p><p>Voorwaarden waarde BSN:</p><ul><li>   Indien het nummer per cijfer wordt aangeduid als (s0 s1 s2 s3 s4 s5 s6 s7 s8), dan is de volgende voorwaarde te controleren: (9<i>s0) + (8</i>s1) + (7<i>s2) + (6</i>s3) + (5<i>s4) + (4</i>s5) + (3<i>s6) + (2</i>s7) - (1*s8) is deelbaar door 11</li></ul><br><br><p>Toelichting:</p><p>1.   Het Burgerservicenummer onderscheidt zich van het Sofi-nummer voornamelijk voor wat betreft het bereik ervan en de wijze waarop wettelijk is vastgelegd wat met behulp van het Burgerservicenummer mag gebeuren.</p><p>2.   De gebruikers van het Burgerservicenummer bestaan uit overheidsorganen alsmede niet-overheidsorganen. Omdat het niet duidelijk is wat de criteria zijn om niet-overheidsorganen wel of niet toe te laten tot het gebruik van het Burgerservicenummer is besloten om de gebruikersaspecten niet in de definitie op te nemen.</p><br><br><p>De oorspronkelijke naamgeving en definitie van dit gegevenselement conform de (authentieke) bron:</p><p>Elementnaam   :    Burgerservicenummer</p><p>Definitie    :    Elk ingeschreven persoon heeft een BSN, een nummer dat de persoon uniek identificeert in alle overheidsadministraties.</p><p>Norminstantie   :    GBA</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Geboortedatum [Verplicht]</p>
<p><p>De datum van geboorte van een PERSOON.</p><br><p>Bron: NEN 1888:2002 - Geboortedatum (overgenomen zoals in SGR)</p><p>Opmerking:</p><p>1. Deze datum staat gewoonlijk vermeld op de geboorteakte dan wel een ander brondocument.</p><p>Een GEBOORTEDATUM behoort te worden vastgesteld in verband met zijn rechtsgeldige betekenis, in het bijzonder voor de instellingen die minimaal een SZ-WET uitvoeren.</p></p>
</li>
</ul>
<ul>
<li>
<p>Ouder kind relatietype [Verplicht]</p>
<p><p>Type ouder kind relatie</p><br><p>Bron: GBI-Werkgroep Ontologie Inkomen</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Indicatie thuiswonend [Verplicht]</p>
<p><p>Indicatie over of de wel/geen sprake is van een thuiswonende relatie.</p><br><p>Bron: GBI-Werkgroep Ontologie Inkomen</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Indicatie Co-ouder [Verplicht]</p>
<p><p>Indicatie over of de wel/niet sprake is van co-ouderschap.</p><br><p>Bron: GBI-Werkgroep Ontologie Inkomen</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Indicatie kinderbijslag [Verplicht]</p>
<p><p>Indicatie over of er wel/geen kinderbijslag betaald dient te worden.</p><br><p>Bron: GBI-Werkgroep Ontologie Inkomen</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Indicatie onderhoudsplicht [Verplicht]</p>
<p><p>Indicatie over of er sprake is van een onderhoudsplicht van de persoon.</p><br><p>Bron: GBI-Werkgroep Ontologie Inkomen</p><br></p>
</li>
</ul>
</div>
<div id="definition_0268B7E8-26BB-50DB-6F86-28CE4C3F6C61"><br><br><b><p>Definitie Medebewoner</p></b><p>De definitie is gebaseerd op de vereniging van de volgende concepten:</p><ul>
<li>
<p>Persoon</p>
<p><p>Een persoon zijnde een mens.</p><br><p>Bron: RSGB 3.0</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Medebewoner</p>
<p><p>Een PERSOON die in de woning bij CLI\'cbNT SUWI verblijft en die geen PARTNER of KIND is.</p><br><p>Norminstantie: SGR</p><p>Bron: SGR 16.0</p><br><p>Opmerking:</p><ul><li> De overige inwonende persoon is geen belanghebbende in de zin van de bijstand/Participatiewet.</li></ul><br></p>
</li>
</ul>
<ul>
<li>
<p>Persoonsrelatie</p>
<p><p>De aan de Persoon gerelateerde PERSOON.</p><br><p>Bron: GBI-Werkgroep Ontologie Inkomen</p><br></p>
</li>
</ul><br><p>De navolgende attributen zijn opgenomen in de definitie van Medebewoner binnen het koppelvlak:</p>
<ul>
<li>
<p>Voorletters aanschrijving</p>
<p><p>De voorletters waarmee een persoonaangeschreven wil worden.</p><br><p>Bron: RSGB 3.0</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Voorvoegsel</p>
<p><p>Voorvoegsel behorende bij de stam van de geslachtsnaam.</p><br><p>Bron: RSGB 3.0</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Geslachtsnaamstam</p>
<p>De stam van de geslachtsnaam. Deze is ontadaan van voorvoegsels en titels.</p>
</li>
</ul>
<ul>
<li>
<p>Burgerservicenummer</p>
<p><p>Een uniek identificerend nummer van een PERSOON, die ingeschreven staat in de Gemeentelijke Basisadministratie Persoonsgegevens (GBA) of de Registratie Niet-ingezetenen (RNI).</p><br><p>Bron: SGR</p><p>Opmerking:</p><p>Elk nummer moet voldoen aan de bij de voorwaarden beschreven proef.</p><p>Voorwaarden waarde BSN:</p><ul><li>   Indien het nummer per cijfer wordt aangeduid als (s0 s1 s2 s3 s4 s5 s6 s7 s8), dan is de volgende voorwaarde te controleren: (9<i>s0) + (8</i>s1) + (7<i>s2) + (6</i>s3) + (5<i>s4) + (4</i>s5) + (3<i>s6) + (2</i>s7) - (1*s8) is deelbaar door 11</li></ul><br><br><p>Toelichting:</p><p>1.   Het Burgerservicenummer onderscheidt zich van het Sofi-nummer voornamelijk voor wat betreft het bereik ervan en de wijze waarop wettelijk is vastgelegd wat met behulp van het Burgerservicenummer mag gebeuren.</p><p>2.   De gebruikers van het Burgerservicenummer bestaan uit overheidsorganen alsmede niet-overheidsorganen. Omdat het niet duidelijk is wat de criteria zijn om niet-overheidsorganen wel of niet toe te laten tot het gebruik van het Burgerservicenummer is besloten om de gebruikersaspecten niet in de definitie op te nemen.</p><br><br><p>De oorspronkelijke naamgeving en definitie van dit gegevenselement conform de (authentieke) bron:</p><p>Elementnaam   :    Burgerservicenummer</p><p>Definitie    :    Elk ingeschreven persoon heeft een BSN, een nummer dat de persoon uniek identificeert in alle overheidsadministraties.</p><p>Norminstantie   :    GBA</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Geboortedatum [Verplicht]</p>
<p><p>De datum van geboorte van een PERSOON.</p><br><p>Bron: NEN 1888:2002 - Geboortedatum (overgenomen zoals in SGR)</p><p>Opmerking:</p><p>1. Deze datum staat gewoonlijk vermeld op de geboorteakte dan wel een ander brondocument.</p><p>Een GEBOORTEDATUM behoort te worden vastgesteld in verband met zijn rechtsgeldige betekenis, in het bijzonder voor de instellingen die minimaal een SZ-WET uitvoeren.</p></p>
</li>
</ul>
<ul>
<li>
<p>Relatietype [Verplicht]</p>
<p><p>Type medebewoner</p><br><p>Bron: GBI-Werkgroep Ontologie Inkomen</p></p>
</li>
</ul>
<ul>
<li>
<p>Indicatie kostendeler [Verplicht]</p>
<p></p>
</li>
</ul>
</div>
<div id="definition_05F4DD1B-5088-FDA0-9AB4-28CA59FC4664"><br><br><b><p>Definitie RedenAanvraag</p></b><p>De definitie is gebaseerd op concept:</p>
<ul>
<li>
<p>Reden aanvraag</p>
<p></p>
</li>
</ul><br><p>De navolgende attributen zijn opgenomen in de definitie van RedenAanvraag binnen het koppelvlak:</p>
<ul>
<li>
<p>Reden [Verplicht]</p>
<p></p>
</li>
</ul><br><p>Van de gerelateerde objecten, die onder de definitie van RedenAanvraag vallen, staan hieronder de gegevens alsmede de verwijzing naar hun definitie:</p>
<ul>
<li>
<p>RedenAanvraag bevat 1  unieke, gerelateerde objecten c.q. IngangBijstandsuitkering.</p>
<p>De definitie van <a href="#definition_0D7741C3-A351-D4F3-55B9-28CCCBC44263">IngangBijstandsuitkering</a> beschrijft het gerelateerde object.</p>
</li>
</ul>
</div>
<div id="definition_0D7741C3-A351-D4F3-55B9-28CCCBC44263"><br><br><b><p>Definitie IngangBijstandsuitkering</p></b><p>De definitie is gebaseerd op concept:</p>
<ul>
<li>
<p>Ingang bijstandsuitkering</p>
<p></p>
</li>
</ul><br><p>De navolgende attributen zijn opgenomen in de definitie van IngangBijstandsuitkering binnen het koppelvlak:</p>
<ul>
<li>
<p>Bijzondere reden geen eerdere aanvraag aanwezig</p>
<p></p>
</li>
</ul>
<ul>
<li>
<p>Startdatum uitkering [Verplicht]</p>
<p></p>
</li>
</ul>
<ul>
<li>
<p>Wachten op beslissing instantie</p>
<p></p>
</li>
</ul>
<ul>
<li>
<p>Ontvangstdatum beslissing instantie</p>
<p></p>
</li>
</ul>
<ul>
<li>
<p>Opgenomen in ziekenhuis of zorginstelling</p>
<p></p>
</li>
</ul>
<ul>
<li>
<p>Startdatum opname</p>
<p></p>
</li>
</ul>
<ul>
<li>
<p>Einddatum opname</p>
<p></p>
</li>
</ul>
<ul>
<li>
<p>Wachten op DigiD</p>
<p></p>
</li>
</ul>
<ul>
<li>
<p>Aanvraagdatum DigiD</p>
<p></p>
</li>
</ul>
<ul>
<li>
<p>Na melding gemeente digitaal verwezen</p>
<p></p>
</li>
</ul>
<ul>
<li>
<p>Datum melding bij gemeente [Verplicht]</p>
<p></p>
</li>
</ul>
<ul>
<li>
<p>Specificatie bijzondere niet eerder aanvragen</p>
<p></p>
</li>
</ul>
</div>
<div id="definition_05328401-C506-BDEA-108C-28D7455990C2"><br><br><b><p>Definitie Inkomsten</p></b><p>De definitie is gebaseerd op concept:</p>
<ul>
<li>
<p>Inkomstenverhouding</p>
<p><p>Een persoon kan vanuit diverse bronnen inkomsten krijgen. Denk bijvoorbeeld aan alimentatie, loon, uitkering of zelfs vergoedingen voor maaltijden, onkosten, vervoer e.d. </p><br><p>Er zijn nu twee gegevensbehoeften:</p><ul><li> Enerzijds het kunnen vastleggen van de inkomstencomponenten (zie daarvoor het gelijknamige concept)</li><li>Anderzijds het vastleggen van de <b>inkomstenverhouding</b>.</li></ul><br><p>Een voorbeeld van zo'n inkomstenverhouding is een <b>arbeidsverhouding</b>.</p><br><p>De <b>inkomstenverhouding</b> geeft per inkomstensoort aan:</p><ul><li> de partij die de inkomsten verstrekt, hetgeen een organisatie of een persoon kan zijn en</li><li>de partij die de inkomsten ontvangt</li></ul><br><p>Verder zijn we geïnteresseerd in de periode waarin deze inkomstenverhouding bestond en de periodiciteit van de uitbetalingen.</p><br><p>Inkomstenverhoudingen worden geadministreerd in het profiel van de klant. De klant is de ontvanger van de inkomsten. Vandaar dat in de inkomstenverhouding zelf geen expliciete verwijzing is opgenomen naar de ontvanger.</p><br><p>Ten aanzien van de verstrekker van de inkomsten geldt, dat dit niet voor elke inkomstenverhouding relevant is. Bij uitkeringen, arbeid, studiefinanciering, stage en pensioen bijvoorbeeld wel, maar bij hobbies niet.</p><br><br></p>
</li>
</ul><br><p>De navolgende attributen zijn opgenomen in de definitie van Inkomsten binnen het koppelvlak:</p>
<ul>
<li>
<p>Categorie Inkomsten [Verplicht]</p>
<p>De type inkomsten zijn gecategoriseerd. Binnen een inkomstenverhouding spreken we altijd van één type inkomsten, bijvoorbeeld loon, alimentatie e.d. Zie daarvoor de optiewaarden.</p>
</li>
</ul><br><p>Van de gerelateerde objecten, die onder de definitie van Inkomsten vallen, staan hieronder de gegevens alsmede de verwijzing naar hun definitie:</p>
<ul>
<li>
<p>Inkomsten bevat 0-n  unieke, gerelateerde objecten c.q. Inkomstenperiode.</p>
<p>De definitie van <a href="#definition_0BE23802-5D63-525B-5A9E-28D47D9F3C52">Inkomstenperiode</a> beschrijft het gerelateerde object.</p>
</li>
</ul>
</div>
<div id="definition_0BE23802-5D63-525B-5A9E-28D47D9F3C52"><br><br><b><p>Definitie Inkomstenperiode</p></b><p>De definitie is gebaseerd op concept:</p>
<ul>
<li>
<p>Inkomstencomponent</p>
<p><p>Een persoon kan vanuit diverse bronnen inkomsten krijgen. Denk bijvoorbeeld aan alimentatie, loon, uitkering of zelfs vergoedingen voor maaltijden, onkosten, vervoer e.d. De inkomstencomponent vormt een deel van de totale inkomsten van een persoon. Hiermee leggen we vast het type inkomsten, het bedrag en de periode waarover dat bedrag is ontvangen en de boekingsdatum waarop het bedrag is ontvangen.</p><p>Dat laatste is belangrijk voor de verschillende perspectieven op inkomsten te onderscheiden naar <i>loon-in</i> en <i>loon-over</i>.</p><br><p>Achtergrond hiebij zijn <b>twee regelingen</b></p><p>Loon wordt als regel toegerekend aan het tijdvak waarin het aan de werknemer is betaald (<b>loon-in</b>). Onder bepaalde voorwaarden mogen werkgevers het uitbetaalde loon toerekenen aan een verstreken loontijdvak. Dit wordt de 'loon-over-regeling' genoemd. Waarom populair: voor een werknemer kan het verstrekken van een uitkering e.d. niet in het kalenderjaar maar bijvoorbeeld in het jaar daarop, hem fiscaal gezien voordelen geven.</p><br><p>Bij <b>loon-over</b> gaat het om twee regelingen:</p><ul><li> De eerste regeling houdt in dat een werkgever een in de maand januari van het nieuwe jaar gedane inhouding op loon dat de werknemer voor het voorgaande jaar nog toekomt, mag opnemen in de laatste aangifte over het oude jaar. Daarbij wordt de inhouding volgens de tarieven van het voorgaande jaar berekend. Deze regeling is structureel in de wet opgenomen.</li><li>De tweede regeling houdt in dat de werkgever binnen het kalenderjaar loonbetalingen mag toerekenen aan de verstreken loontijdvakken waarop zij betrekking hebben, zo nodig door het indienen van correctieberichten.</li></ul><br></p>
</li>
</ul><br><p>De navolgende attributen zijn opgenomen in de definitie van Inkomstenperiode binnen het koppelvlak:</p>
<ul>
<li>
<p>Periode startdatum [Verplicht]</p>
<p>De startdatum van de periode waarop het geboekte bedrag in dit inkomstencomponent betrekking heeft.</p>
</li>
</ul>
<ul>
<li>
<p>Periode einddatum [Verplicht]</p>
<p>De einddatum van de periode waarop het geboekte bedrag in dit inkomstencomponent betrekking heeft.</p>
</li>
</ul>
<ul>
<li>
<p>Bijgevoegd bewijs</p>
<p>Indicatie of bij dit inkomstencomponent een bewijs is toegevoegd</p>
</li>
</ul>
<ul>
<li>
<p>Link naar bewijs</p>
<p>Een link (URI) naar het bijgevoegde bewijs.</p>
</li>
</ul>
</div>
<div id="definition_1AFFB2EF-FBF3-C60A-9171-28D47E266238"><br><br><b><p>Definitie Vermogenscomponent</p></b><p>De definitie is gebaseerd op concept:</p>
<ul>
<li>
<p>Vermogenscomponent</p>
<p></p>
</li>
</ul><br><p>De navolgende attributen zijn opgenomen in de definitie van Vermogenscomponent binnen het koppelvlak:</p>
<ul>
<li>
<p>Code soort vermogenscomponent [Verplicht]</p>
<p></p>
</li>
</ul><br><p>Van de gerelateerde objecten, die onder de definitie van Vermogenscomponent vallen, staan hieronder de gegevens alsmede de verwijzing naar hun definitie:</p>
<ul>
<li>
<p>Vermogenscomponent bevat 1  unieke, gerelateerde objecten c.q. Waardepeiling.</p>
<p>De definitie van <a href="#definition_12C04CDD-E89E-2B72-7F02-28D47E30602F">Waardepeiling</a> beschrijft het gerelateerde object.</p>
</li>
</ul>
<ul>
<li>
<p>Vermogenscomponent bevat 0..1  unieke, gerelateerde objecten c.q. Motorvoertuig.</p>
<p>De definitie van <a href="#definition_04CB2520-F2F8-40F5-E0CB-28D47E4293E4">Motorvoertuig</a> beschrijft het gerelateerde object.</p>
</li>
</ul>
<ul>
<li>
<p>Vermogenscomponent bevat 0..1  unieke, gerelateerde objecten c.q. Bankrekening.</p>
<p>De definitie van <a href="#definition_0524A515-09C0-F4A2-EDB8-28D78370C540">BankrekeningVermogen</a> beschrijft het gerelateerde object.</p>
</li>
</ul>
</div>
<div id="definition_12C04CDD-E89E-2B72-7F02-28D47E30602F"><br><br><b><p>Definitie Waardepeiling</p></b><p>De definitie is gebaseerd op concept:</p>
<ul>
<li>
<p>Waardepeiling</p>
<p></p>
</li>
</ul><br><p>De navolgende attributen zijn opgenomen in de definitie van Waardepeiling binnen het koppelvlak:</p>
<ul>
<li>
<p>Brontype [Verplicht]</p>
<p></p>
</li>
</ul>
<ul>
<li>
<p>Waarde vermogenscomponent [Verplicht]</p>
<p></p>
</li>
</ul>
<ul>
<li>
<p>Datum aanspraak vermogenscomponent</p>
<p></p>
</li>
</ul>
<ul>
<li>
<p>Bijgevoegd bewijs</p>
<p></p>
</li>
</ul>
<ul>
<li>
<p>Link naar bewijs</p>
<p></p>
</li>
</ul>
<ul>
<li>
<p>Peilmoment [Verplicht]</p>
<p><p>Het moment waarop het saldobedrag op de bankrekening stond.</p><p>Bron: GBI-team Ontologie</p></p>
</li>
</ul>
<ul>
<li>
<p>WaardeSoort vermogenscomponent [Verplicht]</p>
<p>De soort waarde waarover de waardepeiling gaat, Zie de enumeratie.</p>
</li>
</ul>
</div>
<div id="definition_0524A515-09C0-F4A2-EDB8-28D78370C540"><br><br><b><p>Definitie BankrekeningVermogen</p></b><p>De definitie is gebaseerd op concept:</p>
<ul>
<li>
<p>Bankrekening</p>
<p><p>De gegevens die betrekking hebben op een bankrekening van een PERSOON of een RECHTSPERSOON.</p><br><p>Bron: SGR 16.0</p><br><p>We kiezen er voor om bankrekening als zelfstandig concept op te nemen, omdat het mogelijk is dat eenzelfde bankrekening gekoppeld kan zijn aan meerdere personen. Voor rechtspersonen geldt dat een bankrekening maar aan ten hoogste 1 ORGANISATORISCHE EENHEID gekoppeld kan zijn.</p><br></p>
</li>
</ul><br><p>De navolgende attributen zijn opgenomen in de definitie van BankrekeningVermogen binnen het koppelvlak:</p>
<ul>
<li>
<p>IBAN</p>
<p><p>Het wereldwijde unieke nummer van een bankrekening.</p><br><p>Bron: SGR 16.0</p><p>Norminstantie: ISO - 13616</p><br><p>Opmerkingen:</p><p>Zie ISO - 13616 voor de opbouw van dit gegevenselement.</p><br><br></p>
</li>
</ul>
<ul>
<li>
<p>Bankrekeningnummer</p>
<p><p>Het nummer van een bankrekening, zoals dat door een bankinstelling als identificerend nummer aan een overeenkomst tussen de bank en één of meer PERSO(O)Nen wordt toegekend.</p><p>Dit rekeningnummer kan worden gebruikt in het geval er wel sprake is van bovenstaande afspraak, maar geen IBAN bekend is. Deze informatiebehoefte bestaat om vermogen op buitenlandse rekeningen (bijv. Russisch) toe te kunnen voegen als vermogen.</p><br><p>Bron: SGR 16.0</p><p>Norminstantie: NEN-1888:2002 - Bankrekeningnummer</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Tenaamstelling [Verplicht]</p>
<p><p>De naam van de houder(s) van de BANKREKENING.</p><br><p>Bron: SGR</p><br></p>
</li>
</ul>
</div>
<div id="definition_04CB2520-F2F8-40F5-E0CB-28D47E4293E4"><br><br><b><p>Definitie Motorvoertuig</p></b><p>De definitie is gebaseerd op concept:</p>
<ul>
<li>
<p>Motorvoertuig</p>
<p></p>
</li>
</ul><br><p>De navolgende attributen zijn opgenomen in de definitie van Motorvoertuig binnen het koppelvlak:</p>
<ul>
<li>
<p>Kenteken [Verplicht]</p>
<p></p>
</li>
</ul>
<ul>
<li>
<p>Soort motorvoertuig [Verplicht]</p>
<p></p>
</li>
</ul>
</div>
<div id="definition_23CCC0F0-7208-90EC-296D-28D47E4D3067"><br><br><b><p>Definitie BeschikbaarheidWerk</p></b><p>De definitie is gebaseerd op concept:</p>
<ul>
<li>
<p>Beschikbaarheid werk</p>
<p></p>
</li>
</ul><br><p>De navolgende attributen zijn opgenomen in de definitie van BeschikbaarheidWerk binnen het koppelvlak:</p>
<ul>
<li>
<p>Uren [Verplicht]</p>
<p>Aantal uren in de week beschikbaar voor werk</p>
</li>
</ul>
<ul>
<li>
<p>Reden [Verplicht]</p>
<p>Als het aantal uren in de week onder een normbedrag valt, moet een reden opgegeven worden waarom dat zo is.</p>
</li>
</ul>
</div>
<div id="definition_1DC729EC-49DD-15BE-B608-28D47EBD7965"><br><br><b><p>Definitie Nederlandsstraatadres</p></b><p>De definitie is gebaseerd op de vereniging van de volgende concepten:</p><ul>
<li>
<p>Adres Nederland</p>
<p><p>De gegevens van een adres in Nederland.</p><br><p>Bron: SGR 16.0</p><br><p>Opmerkingen:</p><p>Super-entiteittype van de Nederlandse adres-entiteiten. Er zijn drie typen adres gedefinieerd:</p><p>1. Domicilie adres: het adres van de persoon, zoals geregistreerd in de Gemeentelijke BasisAdministratie (GBA);</p><p>2. Feitelijk adres: het adres waarop de PERSOON daadwerkelijk verblijft;</p><p>3. Correspondentie adres: het adres waarop de PERSOON zijn post wenst te ontvangen.</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Straatadres</p>
<p><p>Een ADRES dat wordt bepaald aan de hand van STRAATNAAM en HUISNUMMER.</p><br><p>Bron: SGR 16.0</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Postbusadres</p>
<p><p>Een ADRES dat wordt bepaald aan de hand van het POSTBUSNUMMER.</p><br><p>Bron: SGR 16.0</p><br></p>
</li>
</ul><br><p>De navolgende attributen zijn opgenomen in de definitie van Nederlandsstraatadres binnen het koppelvlak:</p>
<ul>
<li>
<p>Postbusnummer</p>
<p><p>De numerieke aanduiding zoals deze door TNT Post is vastgesteld voor een Nederlandse POSTBUS.</p><br><p>Bron: SGR 16.0</p><p>Norminstantie: NEN 5825:2002 - Postbusnummer</p><br><br></p>
</li>
</ul>
<ul>
<li>
<p>Locatieomschrijving</p>
<p><p>Een nadere aanduiding bij de STRAATNAAM en - indien aanwezig - het HUISNUMMER of bij Postbus en POSTBUSNUMMER, dan wel Antwoordnummer en ANTWOORDNUMMER.</p><br><p>Bron: SGR 16.0, gebaseerd op NEN 5825:2002 - Locatieomschrijving</p><br><p>Opmerkingen:</p><p>1. Gebruikmaking van de LOCATIEOMSCHRIJVING kan om verschillende redenen wenselijk dan wel noodzakelijk zijn. Het HUISNUMMER kan ontbreken of men wil niet-uiterlijk waarneembare kenmerken, zoals toevoegingen voor nadere differentiatie achter de voordeur, vermelden.</p><br><p>Voorbeelden van toevoegingen die in de LOCATIEOMSCHRIJVING opgenomen kunnen worden, zijn:</p><ul><li> poste restante</li><li>woonboot Marianne</li><li>woonwagen Bambi</li><li>flat <i>Orion</i></li><li>kamer 412</li><li>appartement V 113</li><li>kelder, zolder, souterrain, enz.</li><li>1e verdieping, 2e verdieping, enz.</li><li>aanduiding ten behoeve van horizontale verdeling, zoals:</li><li>links</li><li>midden dwars</li><li>rechts</li><li>voor</li><li>midden evenwijdig</li><li>achter</li><li>voor links</li><li>midden links</li><li>achter links</li><li>voor midden</li><li>midden midden</li><li>achter midden</li></ul><br><p>2. De waarde <i>poste restante</i> voor een LOCATIEOMSCHRIJVING is niet toegestaan in een DOMICILIE-ADRES.</p><p>3. De toelichting van LOCATIEBESCHRIJVING volgens BRP is een geheel of gedeeltelijke omschrijving van de ligging van een object. Als locatiebeschrijving is niet toegestaan een  postbus (postbox) en een poste restante.</p><br><p>Bron: SGR 16.0</p></p>
</li>
</ul>
<ul>
<li>
<p>Postcode [Verplicht]</p>
<p><p>De officiële codering van TNT Post voor een Nederlands postadres, bestaande uit een numeriek deel en een alfabetisch deel.</p><br><p>Bron: SGR 16.0</p><p>Norminstantie: NEN 5825:2002 - Postcode</p><br><p>Opmerking:</p><p>-360 Het POSTCODE numerieke deel - bestaande uit vier cijfers - (formaat N4), is het deel van de POSTCODE dat een woonplaats, een wijk in een woonplaats, een groep postbussen in een woonplaats of een groep ANTWOORDNUMMERS in een woonplaats aangeeft. (Bron: STUCON)</p><p>Het POSTCODE alfabetische deel - bestaande uit twee hoofdletters - (formaat A2), is het deel van de POSTCODE dat binnen een woonplaats of een wijk in een woonplaats, betrekking heeft op een groep van ongeveer 25 woningen, bedrijfspanden of iets dergelijks, op een aantal postbussen of op een aantal ANTWOORDNUMMERS. (Bron: UGR)</p><p>Alle bestaanbare waardes voor POSTCODE zijn te vinden in de TNT postcodetabel. Deze is op te vragen bij de TNT Post.</p><br><p>Bron: SGR 16.0</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Woonplaatsnaam [Verplicht]</p>
<p><p>De naam van een door het bevoegde gemeentelijke orgaan als zodanig aangewezen gedeelte van het gemeentelijk grondgebied.</p><br><p>Norminstantie: BAG/GBA</p><p>Bron: SGR 16.0</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Straatnaam [Verplicht]</p>
<p><p>De officiële door de gemeente vastgestelde naam van een straat.</p><br><p>Bron: SGR 16.0</p><p>Norminstantie: NEN 5825:2002 - Straatnaam</p><br><p>Opmerkingen:</p><br><p>-360 Het waardebereik van dit gegevenselement is te vinden in de PTT-postcodetabel. Deze is op te vragen bij de PTT.</p><p>De inkortingsregels uit bijlage A van de NEN 5825 zijn van toepassing op straatnamen van meer dan 24 posities. De inkortingsregels zijn in de PTT-postcodetabel reeds toegepast.</p><br><p>Bron: SGR 16.0</p></p>
</li>
</ul>
<ul>
<li>
<p>Huisnummer [Verplicht]</p>
<p><p>De numerieke aanduiding zoals deze door de gemeente aan het object is toegekend.</p><br><p>Bron: SGR 16.0</p><p>Norminstantie: NEN 5825:2002 - Huisnummer</p><br><br></p>
</li>
</ul>
<ul>
<li>
<p>Huisletter</p>
<p><p>Een alfabetisch teken achter het huisnummer zoals dit door het gemeentebestuur is toegekend.</p><br><p>Bron: SGR 16.0</p><p>Norminstantie: GBA</p><br><br></p>
</li>
</ul>
<ul>
<li>
<p>Huisnummertoevoeging</p>
<p><p>De huisnummertoevoeging zoals deze door de gemeente aan het object is toegekend.</p><br><p>Bron: SGR 16.0</p><p>Norminstantie: NEN 5825:2002 - Huisnummertoevoeging</p><br><p>Opmerking:</p><p>Bij de feitelijke toekenning van identificatiegegevens aan een object in aanvulling op het huisnummer kan door gemeenten gebruik gemaakt worden van de elementen  huisletter  en  huisnummertoevoeging . In het element huisnummertoevoeging van deze norm worden deze door de gemeente toegekende elementen opgenomen.</p><br><p>Bron: SGR 16.0</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Aanduiding bij huisnummer</p>
<p><p>De aanduiding die wordt gebruikt voor adressen die niet zijn voorzien van de gebruikelijke straatnaam en huisnummeraanduidingen.</p><br><p>Bron: SGR 16.0</p><p>Norminstantie: GBA</p><br><br><br></p>
</li>
</ul>
</div>
<div id="definition_0EF6B726-6A7E-5D8C-A18E-2933A3B92E03"><br><br><b><p>Definitie NederlandsPostbusadres</p></b><p>De definitie is gebaseerd op de vereniging van de volgende concepten:</p><ul>
<li>
<p>Adres Nederland</p>
<p><p>De gegevens van een adres in Nederland.</p><br><p>Bron: SGR 16.0</p><br><p>Opmerkingen:</p><p>Super-entiteittype van de Nederlandse adres-entiteiten. Er zijn drie typen adres gedefinieerd:</p><p>1. Domicilie adres: het adres van de persoon, zoals geregistreerd in de Gemeentelijke BasisAdministratie (GBA);</p><p>2. Feitelijk adres: het adres waarop de PERSOON daadwerkelijk verblijft;</p><p>3. Correspondentie adres: het adres waarop de PERSOON zijn post wenst te ontvangen.</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Postbusadres</p>
<p><p>Een ADRES dat wordt bepaald aan de hand van het POSTBUSNUMMER.</p><br><p>Bron: SGR 16.0</p><br></p>
</li>
</ul><br><p>De navolgende attributen zijn opgenomen in de definitie van NederlandsPostbusadres binnen het koppelvlak:</p>
<ul>
<li>
<p>Locatieomschrijving</p>
<p><p>Een nadere aanduiding bij de STRAATNAAM en - indien aanwezig - het HUISNUMMER of bij Postbus en POSTBUSNUMMER, dan wel Antwoordnummer en ANTWOORDNUMMER.</p><br><p>Bron: SGR 16.0, gebaseerd op NEN 5825:2002 - Locatieomschrijving</p><br><p>Opmerkingen:</p><p>1. Gebruikmaking van de LOCATIEOMSCHRIJVING kan om verschillende redenen wenselijk dan wel noodzakelijk zijn. Het HUISNUMMER kan ontbreken of men wil niet-uiterlijk waarneembare kenmerken, zoals toevoegingen voor nadere differentiatie achter de voordeur, vermelden.</p><br><p>Voorbeelden van toevoegingen die in de LOCATIEOMSCHRIJVING opgenomen kunnen worden, zijn:</p><ul><li> poste restante</li><li>woonboot Marianne</li><li>woonwagen Bambi</li><li>flat <i>Orion</i></li><li>kamer 412</li><li>appartement V 113</li><li>kelder, zolder, souterrain, enz.</li><li>1e verdieping, 2e verdieping, enz.</li><li>aanduiding ten behoeve van horizontale verdeling, zoals:</li><li>links</li><li>midden dwars</li><li>rechts</li><li>voor</li><li>midden evenwijdig</li><li>achter</li><li>voor links</li><li>midden links</li><li>achter links</li><li>voor midden</li><li>midden midden</li><li>achter midden</li></ul><br><p>2. De waarde <i>poste restante</i> voor een LOCATIEOMSCHRIJVING is niet toegestaan in een DOMICILIE-ADRES.</p><p>3. De toelichting van LOCATIEBESCHRIJVING volgens BRP is een geheel of gedeeltelijke omschrijving van de ligging van een object. Als locatiebeschrijving is niet toegestaan een  postbus (postbox) en een poste restante.</p><br><p>Bron: SGR 16.0</p></p>
</li>
</ul>
<ul>
<li>
<p>Postcode [Verplicht]</p>
<p><p>De officiële codering van TNT Post voor een Nederlands postadres, bestaande uit een numeriek deel en een alfabetisch deel.</p><br><p>Bron: SGR 16.0</p><p>Norminstantie: NEN 5825:2002 - Postcode</p><br><p>Opmerking:</p><p>-360 Het POSTCODE numerieke deel - bestaande uit vier cijfers - (formaat N4), is het deel van de POSTCODE dat een woonplaats, een wijk in een woonplaats, een groep postbussen in een woonplaats of een groep ANTWOORDNUMMERS in een woonplaats aangeeft. (Bron: STUCON)</p><p>Het POSTCODE alfabetische deel - bestaande uit twee hoofdletters - (formaat A2), is het deel van de POSTCODE dat binnen een woonplaats of een wijk in een woonplaats, betrekking heeft op een groep van ongeveer 25 woningen, bedrijfspanden of iets dergelijks, op een aantal postbussen of op een aantal ANTWOORDNUMMERS. (Bron: UGR)</p><p>Alle bestaanbare waardes voor POSTCODE zijn te vinden in de TNT postcodetabel. Deze is op te vragen bij de TNT Post.</p><br><p>Bron: SGR 16.0</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Woonplaatsnaam [Verplicht]</p>
<p><p>De naam van een door het bevoegde gemeentelijke orgaan als zodanig aangewezen gedeelte van het gemeentelijk grondgebied.</p><br><p>Norminstantie: BAG/GBA</p><p>Bron: SGR 16.0</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Postbusnummer [Verplicht]</p>
<p><p>De numerieke aanduiding zoals deze door TNT Post is vastgesteld voor een Nederlandse POSTBUS.</p><br><p>Bron: SGR 16.0</p><p>Norminstantie: NEN 5825:2002 - Postbusnummer</p><br><br></p>
</li>
</ul>
</div>
<div id="definition_0EEAC38B-E5B5-F547-3E3C-28D47ED4AC5A"><br><br><b><p>Definitie Buitenlandsstraatadres</p></b><p>De definitie is gebaseerd op de vereniging van de volgende concepten:</p><ul>
<li>
<p>Straatadres buitenland</p>
<p><p>Een buitenlands straatadres.</p><br><p>Bron: SGR 16.0</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Adres Buitenland</p>
<p><p>Een adres in het buitenland.</p><br><p>Bron: SGR 16.0</p><br><br></p>
</li>
</ul><br><p>De navolgende attributen zijn opgenomen in de definitie van Buitenlandsstraatadres binnen het koppelvlak:</p>
<ul>
<li>
<p>Locatieomschrijving buitenland</p>
<p><p>Een nadere aanduiding bij een buitenlands adres.</p><br><p>Norminstantie: UGR</p><p>Bron: SGR 16.0</p><br><p>Opmerking:</p><br><p>Gebruikmaking van dit gegevenselement kan om verschillende redenen wenselijk dan wel noodzakelijk zijn. Het HUISNUMMER BUITENLAND kan ontbreken of men wil niet-uiterlijk waarneembare kenmerken, zoals toevoegingen voor nadere differentiatie achter de voordeur, vermelden.</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Postcode buitenland</p>
<p><p>Een door de buitenlandse postdienst vastgestelde codering voor een adres in het buitenland.</p><br><p>Norminstantie: UGR</p><p>Bron: SGR 16.0</p><br><p>Opmerking:</p><p>De indeling naar staat, departement, provincie of gebiedsdeel is in de POSTCODE BUITENLAND vervat en dus overbodig geworden om apart door te geven in een gegevensuitwisseling. Indien er geen POSTCODE BUITENLAND is, kan echter de aanduiding van staat, departement, provincie of gebiedsdeel opgenomen worden in REGIONAAM BUITENLAND.</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Regionaam buitenland</p>
<p><p>De naam van een gebiedsdeel binnen een land.</p><br><p>Norminstantie: UGR</p><p>Bron: SGR 16.0</p><br><p>Opmerking:</p><p>Inkortingsregels:</p><p>Als een REGIONAAM BUITENLAND langer is dan 24 posities, moet de eerste inkortingsregel worden toegepast. Blijkt na toepassing daarvan de REGIONAAM BUITENLAND nog steeds de 24 posities te overschrijden, dan treedt de tweede inkortingsregel in werking, en zo vervolgend totdat het aantal posities nog ten hoogste 24 bedraagt of alle inkortingsregels zijn gehanteerd. Tenzij anders vermeld, worden de inkortingsregels van rechts beginnend toegepast.</p><br><p>Inkortingsregel 1.</p><p>Verwijder leestekens uit de REGIONAAM BUITENLAND.</p><br><p>Inkortingsregel 2.</p><p>Kort in de REGIONAAM BUITENLAND, naar eigen inzicht, de tussenvoegsels in.</p><br><p>Inkortingsregel 3.</p><p>Kort het eerste bijvoeglijk naamwoord, en indien nodig de daarop volgende bijvoeglijke naamwoorden, van een samengestelde REGIONAAM BUITENLAND in tot de eerste letter van het woord, tenzij het betreffende woord al een inkorting is.</p><br><p>Inkortingsregel 4.</p><p>Kort het eerste woord na de tussenvoegsel, en indien nodig de daaropvolgende woorden, van een samengestelde REGIONAAM BUITENLAND in tot de eerste letter van het woord, tenzij het betreffende woord al een inkorting is.</p><br><p>Inkortingsregel 5.</p><p>Vraag advies aan degene, die REGIONAAM BUITENLAND verstrekt.</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Woonplaatsnaam buitenland</p>
<p><p>De naam van een woonplaats in het buitenland.</p><br><p>Norminstantie: UGR</p><p>Bron: SGR 16.0</p><br><p>Opmerking:</p><p>Inkortingsregels:</p><p>Als een WOONPLAATSNAAM BUITENLAND langer is dan 24 posities, moet de eerste inkortingsregel worden toegepast. Blijkt na toepassing daarvan de WOONPLAATSNAAM BUITENLAND nog steeds de 24 posities te overschrijden, dan treedt de tweede inkortingsregel in werking, en zo vervolgend totdat het aantal posities nog ten hoogste 24 bedraagt of alle inkortingsregels zijn gehanteerd. Tenzij anders vermeld, worden de inkortingsregels van rechts beginnend toegepast.</p><br><p>Inkortingsregel 1.</p><p>Verwijder leestekens uit de WOONPLAATSNAAM BUITENLAND.</p><br><p>Inkortingsregel 2.</p><p>Kort in de WOONPLAATSNAAM BUITENLAND, naar eigen inzicht, de tussenvoegsels in.</p><br><p>Inkortingsregel 3.</p><p>Kort het eerste bijvoeglijk naamwoord, en indien nodig de daarop volgende bijvoeglijke naamwoorden, van een samengestelde WOONPLAATSNAAM BUITENLAND in tot de eerste letter van het woord, tenzij het betreffende woord al een inkorting is.</p><br><p>Inkortingsregel 4.</p><p>Kort het eerste woord na de tussenvoegsel, en indien nodig de daaropvolgende woorden, van een samengestelde WOONPLAATSNAAM BUITENLAND in tot de eerste letter van het woord, tenzij het betreffende woord al een inkorting is.</p><br><p>Inkortingsregel 5.</p><p>Vraag advies aan degene, die WOONPLAATSNAAM BUITENLAND verstrekt.</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Landsnaam</p>
<p><p>De naam van een land of een gebiedsdeel.</p><br><p>Norminstantie: UGR</p><p>Bron: SGR 16.0</p><br><p>Opmerking:</p><p>Indien voor een bepaald land (nog) geen LANDENCODE ISO in ISO 3166 vermeld staat, moet LANDSNAAM worden ingevuld.</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Landencode ISO</p>
<p><p>De code van een huidig land of gebiedsdeel conform ISO 3166.</p><br><p>Norminstantie: ISO 3166 (Entity, Alpha-2 code)</p><p>Bron: SGR 16.0</p><br><p>Opmerking:</p><ul><li> LANDENCODE ISO is niet expliciet gedefinieerd in ISO 3166. De omschrijving van dit gegevenselement is dan ook een SUWI-omschrijving.</li></ul><br><ul><li> Tabel ISO 3166 Codes for the representation of names of countries and their subdivisions</li></ul><br><ul><li> LANDENCODE ISO dient in principe in ADRES BUITENLAND altijd te worden opgenomen.</li></ul><br><p>Indien voor een bepaald land (nog) geen code in ISO 3166 staat vermeld, moet LANDSNAAM worden ingevuld.</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Huisnummer buitenland</p>
<p><p>De aanduiding van een (deel van een) pand in het buitenland.</p><br><p>Norminstantie: UGR</p><p>Bron: SGR 16.0</p><br><p>Opmerking:</p><p>Het HUISNUMMER BUITENLAND is inclusief een eventuele huisnummertoevoeging.</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Straatnaam buitenland</p>
<p><p>De naam van een straat in het buitenland.</p><br><p>Norminstantie: UGR</p><p>Bron: SGR 16.0</p><br><p>Opmerking:</p><p>Inkortingsregels:</p><p>Als de STRAATNAAM BUITENLAND langer is dan 24 posities, moet de eerste inkortingsregel worden toegepast. Blijkt na toepassing daarvan de STRAATNAAM BUITENLAND nog steeds de 24 posities te overschrijden, dan treedt de tweede inkortingsregel in werking, en zo vervolgend totdat het aantal posities nog ten hoogste 24 bedraagt of alle inkortingsregels zijn gehanteerd.</p><br><p>Inkortingsregel 1.</p><p>Verwijder de leestekens punt (.) en apostrof uit de STRAATNAAM BUITENLAND.</p><br><p>Inkortingsregel 2.</p><p>Kort de woorden die een richting aanduiden, indien zij als laatste element en zelfstandig in de STRAATNAAM BUITENLAND voorkomen, in tot een letter.</p><p>Voorbeelden:</p><p>North N</p><p>Ouest O</p><p>South S</p><p>Eastside E</p><br><p>Inkortingsregel 3.</p><p>Kort de uitgangen of losse woorden die de straataanduiding betreffen zoveel mogelijk volgens de NEN 5825 in en anders naar eigen inzicht.</p><p>Voorbeelden:</p><p>strasse str</p><p>boulevard blvd</p><p>street st.</p><p>rue r</p><p>canal can</p><p>havn h</p><br><p>Inkortingsregel 4.</p><p>De getallen in Romeinse cijfers worden vervangen door Arabische cijfers.</p><p>Voorbeelden:</p><p>XXV 25</p><p>XIII 13</p><br><p>Inkortingsregel 5.</p><p>De geschreven telwoorden worden vervangen door Arabische cijfers.</p><p>Voorbeelden:</p><p>seize 16</p><p>eight 8</p><br><p>Inkortingsregel 6.</p><p>De voluit geschreven rangtelwoorden worden vervangen door Arabische cijfers plus hun gebruikelijke uitgang.</p><p>Voorbeeld:</p><p>sixième 6e</p><p>seventeenth 17th</p><br><p>Inkortingsregel 7.</p><p>Kort de tussenvoegsels zoveel mogelijk volgens de NEN 5825 in en anders naar eigen inzicht.</p><p>Voorbeelden:</p><p>an den ad</p><p>de d</p><p>of o</p><br><p>Inkortingsregel 8.</p><p>Kort het eerste bijvoeglijk naamwoord of de eerste titel bij het naambepalende zelfstandige woord tot op de eerste letter in. Dit zoveel mogelijk volgens de NEN 5825 en anders naar eigen inzicht.</p><p>Voorbeelden:</p><p>Comte C</p><p>Graf G</p><p>Great G</p><p>Queen Q</p><p>General G</p><br><p>Inkortingsregel 9.</p><p>Pas inkortingsregel 8 opnieuw toe, maar nu op het tweede bijvoeglijk naamwoord of de tweede titel.</p><br><p>Inkortingsregel 10.</p><p>Vraag advies aan degene die de STRAATNAAM BUITENLAND heeft verstrekt.</p><br></p>
</li>
</ul>
</div>
<div id="definition_130B0B2A-7DA0-9CEC-9915-28D47EDFC675"><br><br><b><p>Definitie Huisvesting</p></b><p>De definitie is gebaseerd op de vereniging van de volgende concepten:</p><ul>
<li>
<p>Huisvesting</p>
<p><p>Het onderkomen van de PERSOON, waarin deze woont.</p><br><p>Bron: SGR 16.0</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Huurvorm</p>
<p></p>
</li>
</ul><br><p>De navolgende attributen zijn opgenomen in de definitie van Huisvesting binnen het koppelvlak:</p>
<ul>
<li>
<p>Indicatie zelfstandige woonruimte [Verplicht]</p>
<p><p>Code die aangeeft of de PERSOON in de woning zelfstandig beschikt over eigen woonruimte.</p><br><p>Bron: SGR 16.0</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Code soort huisvesting [Verplicht]</p>
<p><p>Toelichting op de woonsituatie van de PERSOON betreffende de huisvesting.</p><br><p>Bron: SGR 16.0</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Toelichting huisvesting</p>
<p><p>Toelichting op de woonsituatie van de PERSOON betreffende de huisvesting.</p><br><p>Bron: SGR 16.0</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Code relatie bewoner tot huisvesting [Verplicht]</p>
<p><p>Code die aangeeft in welke hoedanigheid de PERSOON gehuisvest is.</p><br><p>Bron: SGR 16.0</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Toelichting relatie bewoner tot huisvesting</p>
<p><p>Toelichting op de hoedanigheid waarin de PERSOON de woning bewoont.</p><br><p>Norminstantie: SGR</p><br></p>
</li>
</ul>
</div>
<div id="definition_088DE158-52B3-0E5B-12D1-28D47EEB0F2B"><br><br><b><p>Definitie Identiteitsbewijs</p></b><p>De definitie is gebaseerd op concept:</p>
<ul>
<li>
<p>Identiteitsbewijs</p>
<p>Het officiële document waarmee de identiteit van de PERSOON kan worden vastgesteld.</p>
</li>
</ul><br><p>De navolgende attributen zijn opgenomen in de definitie van Identiteitsbewijs binnen het koppelvlak:</p>
<ul>
<li>
<p>Code soort identiteitsbewijs [Verplicht]</p>
<p>Code die het soort IDENTITEITSBEWIJS aangeeft, conform de Wet op de Identificatieplicht.</p>
</li>
</ul>
<ul>
<li>
<p>Documentnummer identiteitsbewijs</p>
<p>De unieke aanduiding van het IDENTITEITSBEWIJS.</p>
</li>
</ul>
<ul>
<li>
<p>Datum einde geldigheid identiteitsbewijs</p>
<p>De datum van de laatste dag waarop het IDENTITEITSBEWIJS geldig is.</p>
</li>
</ul>
</div>
<div id="definition_24C413DF-3C14-7E20-DFC8-28D47EF7736C"><br><br><b><p>Definitie Vreemdelingendocument</p></b><p>De definitie is gebaseerd op concept:</p>
<ul>
<li>
<p>Vreemdelingendocument</p>
<p>Het officiële document waaruit de verblijfsstatus en de voorwaarden verbonden aan het verblijf hier te lande van een VREEMDELING blijken.</p>
</li>
</ul><br><p>De navolgende attributen zijn opgenomen in de definitie van Vreemdelingendocument binnen het koppelvlak:</p>
<ul>
<li>
<p>Indicatie arbeid toegestaan</p>
<p>Code die aangeeft of blijkens het VREEMDELINGENDOCUMENT arbeid in loondienst is toegestaan.</p>
</li>
</ul>
<ul>
<li>
<p>Indicatie tewerkstellingsvergunning vereist</p>
<p>Code die aangeeft of blijkens het VREEMDELINGENDOCUMENT de (aanstaande) werkgever van CLIENT SUWI een tewerkstellingsvergunning nodig heeft om hem in dienst te nemen.</p>
</li>
</ul>
<ul>
<li>
<p>Indicatie verlenging aangevraagd</p>
<p>Code die aangeeft of de CLIENT SUWI verlenging van het VREEMDELINGENDOCUMENT heeft aangevraagd, maar nog niet verkregen.</p>
</li>
</ul>
<ul>
<li>
<p>Code soort vreemdelingendocument</p>
<p>Code die het soort VREEMDELINGENDOCUMENT aangeeft.</p>
</li>
</ul>
</div>
<div id="definition_0DD875BA-B369-368D-0B3F-29339C96E2D5"><br><br><b><p>Definitie Betaalgegevens</p></b><p>De definitie is gebaseerd op concept:</p>
<ul>
<li>
<p>Bankrekening</p>
<p><p>De gegevens die betrekking hebben op een bankrekening van een PERSOON of een RECHTSPERSOON.</p><br><p>Bron: SGR 16.0</p><br><p>We kiezen er voor om bankrekening als zelfstandig concept op te nemen, omdat het mogelijk is dat eenzelfde bankrekening gekoppeld kan zijn aan meerdere personen. Voor rechtspersonen geldt dat een bankrekening maar aan ten hoogste 1 ORGANISATORISCHE EENHEID gekoppeld kan zijn.</p><br></p>
</li>
</ul><br><p>De navolgende attributen zijn opgenomen in de definitie van Betaalgegevens binnen het koppelvlak:</p>
<ul>
<li>
<p>IBAN [Verplicht]</p>
<p><p>Het wereldwijde unieke nummer van een bankrekening.</p><br><p>Bron: SGR 16.0</p><p>Norminstantie: ISO - 13616</p><br><p>Opmerkingen:</p><p>Zie ISO - 13616 voor de opbouw van dit gegevenselement.</p><br><br></p>
</li>
</ul>
<ul>
<li>
<p>Tenaamstelling [Verplicht]</p>
<p><p>De naam van de houder(s) van de BANKREKENING.</p><br><p>Bron: SGR</p><br></p>
</li>
</ul>
</div>
<div id="definition_1126FB46-7852-102E-7547-2933A0246FF8"><br><br><b><p>Definitie Bewindvoerder</p></b><p>De definitie is gebaseerd op de vereniging van de volgende concepten:</p><ul>
<li>
<p>Organisatorische eenheid</p>
<p><p>Het deel van een functioneel afgebakend onderdeel binnen de organisatie dat haar activiteiten uitvoert binnen een VESTIGING VAN ZAAKBEHANDELENDE ORGANISATIE en die verantwoordelijk is voor de behandeling van zaken.</p><br><p>Bron: RGBZ2.0</p><br></p>
</li>
</ul>
<ul>
<li>
<p>Vestiging</p>
<p><p>Een vestiging van een onderneming of rechtspersoon.</p><br><p>Bron: GBI-Werkgroep Ontologie Inkomen (combinatie van rgbz en rsgb)</p><br></p>
</li>
</ul><br><p>De navolgende attributen zijn opgenomen in de definitie van Bewindvoerder binnen het koppelvlak:</p>
<ul>
<li>
<p>KvK nummer [Verplicht]</p>
<p></p>
</li>
</ul>
<ul>
<li>
<p>Vestigingsnummer</p>
<p><p>Landelijk uniek identificerend administratienummer van een VESTIGING zoals toegewezen door de Kamer van Koophandel (KvK).</p><br><p>Bron: RSGB3.0</p><br></p>
</li>
</ul>
</div>
<div id="definition_005E0306-8802-9CAF-DD14-2933BDBB50A2"><br><br><b><p>Definitie Vaststelling</p></b><p>De definitie is gebaseerd op concept:</p>
<ul>
<li>
<p>Vaststelling</p>
<p>Metagegevens om kwaliteit gegevens te beoordelen</p>
</li>
</ul><br><p>De navolgende attributen zijn opgenomen in de definitie van Vaststelling binnen het koppelvlak:</p>
<ul>
<li>
<p>Brontype [Verplicht]</p>
<p>Bron welke gegeven heeft vastgesteld</p>
</li>
</ul>
<ul>
<li>
<p>BijgevoegdBewijs [Verplicht]</p>
<p>Link naar bewijs</p>
</li>
</ul>
<ul>
<li>
<p>LinkNaarBewijs [Verplicht]</p>
<p>Link naar bewijs</p>
</li>
</ul>
<ul>
<li>
<p>Vaststellingsmoment [Verplicht]</p>
<p>Moment waarop gegevens zijn vastgesteld</p>
</li>
</ul>
</div><br><br></div>
</div>
<div class="footer"></div>
</div>
</body>
</html>
